* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 75%;
	color: #222;
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 1.6em;
}

.widget {
	width: 96%;
	margin-top: 20px;
	padding: 10px;
	background: #dddddd;
	border: 1px solid #dedbd1;
	margin-bottom: 15px;
}
a {
    color: #0154A1 ;
    text-decoration: none;
}
#alldata, #compare{
	    color: #0154A1 !important;
    text-decoration: none;
	}

.leftwidget {
	width: 80%;
	margin-top: 20px;
	padding: 10px;
	background: #f3f1eb;
	border: 1px solid #dedbd1;
	margin-bottom: 15px;
}

.draggable {
	cursor: pointer;
}

.widget a {
	color: #222;
	text-decoration: none;
}

.widget a:hover {
	color: #009;
	text-decoration: underline;
}

.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.tabnav li a {
	text-decoration: none;
	/*text-transform: uppercase;*/
	color: #222;
	font-weight: bold;
	padding: 4px 6px;
	outline: none;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
	background: #f0f0f0;
	color: #222;
	text-decoration: none;
}

.tabdiv {
	margin-top: 2px;
	background: #fff;
	border: 1px solid #dedbd1;
	padding: 5px;
	overflow: auto;
	width: 655px;
}

.tabdiv li {
	list-style-image: url("star.png");
	margin-left: 20px;
}

.ui-tabs-hide {
	display: none;
}

#featuredvid {
	text-align: center;
}

.fvid {
	margin-bottom: 5px;
}

.vidselector li {
	text-align: left;
	list-style: none;
	padding: 5px;
	background: #ffffff;
	border: 1px solid #dedbd1;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}

.white_content {
	display: none;
	position: fixed;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 58%;
	padding: 16px;
	border: 5px solid #0154A1;
	border-radius:10px;
	background-color: #F0F0F0;
	z-index:9999;
	overflow: auto;
	box-shadow: 3px 3px 3px 3px #222222;
}

.white_content2 {
	display: none;
	position: fixed;
	top: 10%;
	left: 30%;
	width: 35%;
	height: 65%;
	padding: 5px;
	border: 5px solid #0154A1;
	border-radius:10px;
	background-color: #F0F0F0;
	z-index:9999;
	overflow: auto;
	box-shadow: 3px 3px 3px 3px #222222;


}

.upperdiv {
	font-weight: bold;
	color: #0F829C;
	background-color: #DDDDDD;
}

/** Table styles **/
table.draggable {
	width: 100%;

	background-color: #0154a1;
	color: #666;
}

table.draggable td, table.draggable th {
	padding: 4px;
	border:1px solid #A1908F;
}

table.draggable thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
	border-top:none;
}

table.draggable thead a:hover {
	text-decoration: none;
}

table.draggable thead th img {
	vertical-align: middle;
}

table.draggable tbody th {
	font-weight: bold;
}

table.draggable tbody tr {
	background-color: #fff;
	text-align: left;
}

table.draggable tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

table.draggable tbody tr.row0:hover td, table.draggable tbody tr.row1:hover td {
	background-color: #ffd ;
}

table.draggable tbody td {
	height: 25px;
	background: #fff;

	border-style:none;
	min-width: 70px !important;
}

table.draggable tr:hover td {
	height: 25px;
	background: #9D9F9E !important;
	border: 1px solid solid !important;
	border-style: none;
	min-width: 50px !important;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}
table.draggable tr:hover.firsttableheader td {background:#0154a1 !important;}

table.draggable tr td {

	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	color:#666666;
}
table.draggable tr.firsttableheader td  {padding:0px 4px !important; white-space:nowrap;}
table.draggable tbody tr {
	height: 25px;
	background: #fff;

}

tr.firsttableheader:hover td{
	background:#0154a1!important;

	}

table.draggable tbody tr.row1 td {
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}

table.draggable tfoot tr {
	text-align: center;
	color: #333;
}

table.draggable tfoot td, table.draggable tfoot th {
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

table.draggable td.order {
	text-align: center;
	white-space: nowrap;
}

table.draggable td.order span {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}

table.draggable .pagination {
	display:table;
	padding:0;
	margin:0 auto;
}

.draggable {
	border: 0 none;
}

.draggable td {
	border: 0 none;
}

table.popupfromto {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.popupfromto td, table.popupfromto th {
	padding: 4px;
}

table.popupfromto thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	/*border-left: 1px solid #fff;*/
	border-top:none;
}

table.popupfromto thead a:hover {
	text-decoration: none;
}

table.popupfromto thead th img {
	vertical-align: middle;
}

table.popupfromto tbody th {
	font-weight: bold;
}

table.popupfromto tbody tr {
	background-color: #fff;
	text-align: left;
}

table.popupfromto tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

table.popupfromto tbody tr.row0:hover td, table.popupfromto tbody tr.row1:hover td {
	background-color: #ffd ;
}

table.popupfromto tbody tr td {
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
}

table.popupfromto tbody tr.row1 td {
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}

table.popupfromto tfoot tr {
	text-align: center;
	color: #333;
}

table.popupfromto tfoot td, table.popupfromto tfoot th {
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

table.popupfromto td.order {
	text-align: center;
	white-space: nowrap;
}

table.popupfromto td.order span {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}

table.popupfromto .pagination {
	display:table;
	padding:0;
	margin:0 auto;
}

.popupfromto {
	border: 0 none;
}

.popupfromto td {
	border: 0 none;
}

#layers {
	cursor: pointer;
}

#layers_image {
	cursor: pointer;
}

div.contentblock3 table.popupfromto {
	width: 85%;
	border-spacing: 1px;
	background-color: #C4E1FC;
	color: #666;
}

div.contentblock3 table.popupfromto td, table.popupfromto th {
	padding: 4px;
}

table#displayinterval td, table#displayinterval th{ padding:2px !important;}
div.contentblock3 table.popupfromto thead th ,.cacss th{
	text-align: center;
	background: #9D9F9E;
	color: #fff;
	border-bottom: 1px solid #999;
	/*border-left: 1px solid #0154A1;*/
	border-top:none;
}

div.contentblock3 table.popupfromto thead a:hover {
	text-decoration: none;
}

div.contentblock3 table.popupfromto thead th img {
	vertical-align: middle;
}

div.contentblock3 table.popupfromto tbody th {
	font-weight: bold;
}

div.contentblock3 table.popupfromto tbody tr {
	background-color: #fff;
	text-align: left;
}

div.contentblock3 table.popupfromto tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

div.contentblock3 table.popupfromto tbody tr.row0:hover td, table.popupfromto tbody tr.row1:hover td {
	background-color: #ffd ;
}

div.contentblock3 table.popupfromto tbody tr td {
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
}

div.contentblock3 table.popupfromto tbody tr.row1 td {
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}

div.contentblock3 table.popupfromto tfoot tr {
	text-align: center;
	color: #333;
}

div.contentblock3 table.popupfromto tfoot td, table.popupfromto tfoot th {
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

div.contentblock3 table.popupfromto td.order {
	text-align: center;
	white-space: nowrap;
}

div.contentblock3 table.popupfromto td.order span {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}

div.contentblock3 table.popupfromto .pagination {
	display:table;
	padding:0;
	margin:0 auto;
}

div.contentblock3 .popupfromto {
	border: 0 none;
}

div.contentblock3 .popupfromto td {
	border: 0 none;
}
/*.layers_open_image {
	padding-left: 30px;
	width: 30px;
	background:url(../images/open.png) no-repeat center !important;
}

.layers_close_image {
	padding-left: 30px;
	width: 30px;
	background:url(../images/close.png) no-repeat center !important;
}*/

#box {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
}

#box2 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #E4EDF2;
}

#box3 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #648CAB;
}

#box4 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #FFFF00;
}

#box5 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #FFC600;
}

#box6 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #FF902A;
}

#box7 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #FF5B00;
}

#box8 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #FF0000;
}

#box9 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #0065FF;
}

#box10 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #7F3A3A;
}

#box11 {
	border: 1px solid;
	width: 11px;

	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #6485E3;
}

#box12 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #00429F;
}

#box13 {
	border: 1px solid;
	width: 11px;
	height: 11px;
	float: left;
	display: block;
	vertical-align: middle;
	margin-top: 3.5px;
	margin-left: 2px;
	margin-right: 5px;
	background-color: #FFA200;
}

#layertext {
	float: left;
	display: block;
}

.paidleft15 {
	padding-left: 15px;
}

.paidleft20 {
	padding-left: 30px;
}
/*new*/
#ja-pathway {
background: none;
    color: #858585;
    float: left;
   /* padding: 0 17px 5px;*/

    width: 894px;
	padding-bottom: 2px;
	min-height:19px;
	padding-top:4px;
	font-size:12px;


}
#ja-pathway a{
    color: #8585858 !important;
	font-size:12px;
	font-weight:bold;
	float:right;
}
.mimihead
{
margin:0 auto;
width:470px;
color:#FFFFFF;
float:left;
/*padding:0 0 0 25px;*/
height:20px;
}
.headtopleft
{
float:left;
}
.headtopleft img{display:none;}
.headtopright img{display:none;}
.headtopright
{
float:left;
}
.headcontent
{
float: left;
background:none;
font-size: 14px;
font-style: normal;
font-weight: bold;
line-height: 20px;
text-align: center;
white-space: nowrap;
/*width:180px;*/
color:#858585;
font-family:Arial, Helvetica, sans-serif;
}
.breadcrumb_left
{
float:left;
margin:0;
padding:0;
height:24px;
}

.breadcrumb_left img{display:none;}
.breadcrumb_right img{display:none;}

.breadcrumb_right
{
float:left;
margin:0;
padding:0;
height:24px;
}
.clear
{
clear:both;
}
.breadcrumb
{
margin:0;
padding:0;

}
.showresultbody
{
margin:0 auto;
width:940px;


}
.collpsable
{
height:30px;
background:#9d9f9e;
/*border-bottom: 1px solid #0154a1;*/
float:left;

/*padding-left:225px;
*/
width:938px;
}

#vwtoggle{

    margin-right: 187px;
	font-size:22px;
	}
.collpsable span
{
color:#FFF;
line-height:30px;
height:30px;
padding:8px 10px !important;
/*background-image:url('../images/pink_text_bg.png');*/
background-clip: border-box;
background-position:center bottom;
border:none !important;
font-weight:normal;

cursor:pointer;


}

.inputbox{
border-radius:2px;


	}

.collpsable .active
{
color:#3b2d02;
background-position:center bottom;
background:#efbf21;
font-weight: normal;

}


.toggle1 .active{
background:#d94958 !important;
background-position:center bottom;
background:#efbf21;
font-weight: normal;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) { .collpsable .active
{
color:#0154a1;
border-left:1px solid #54789a;
border-top:1px solid #54789a;
border-right:1px solid #54789a;
background-color:#c5e1fc;
padding:3px 10px 3px 10px !important;

background-clip: border-box;
background-position:center bottom;
border-top-left-radius:5px;
border-top-right-radius:5px;
font-weight: bold;
font-family:Arial, Helvetica, sans-serif;
} }*/


.mod_mica
{
width:938px;
float:left;
/*border:1px solid #0154a1;*/
border-bottom:0px;
overflow:hidden;
background-color: #c5e1fc;

}
.activecontent
{
   background-color: #C5E1FC;
   /*border-top:1px solid #666666;*/
    float: left;
    width: 938px;
	border-top:1px solid #666666;

}

.range div{
	padding-bottom:5px;
	line-height:20px;
	}
.contenttoggle1 .activecontent
{
padding:0 !important;
margin:0 !important;
width:938px;
float:left;
/*background-color:#6485e3;*/

}

.activecontent .contenthead
{

	color: #3b2d02;
	cursor: pointer;
    float: left;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;

    padding: 0px;
	margin:5px 0px 7px 13px;
    white-space: nowrap;
}

.activecontent .blockcontent{margin-bottom:10px; display:inline-block; clear:both;}

.contentblock
{
/*border-right: 1px solid #FFFFFF;*/
  float: left;
    /*padding: 0px 10px 0px 13px; */
    width: 225px;

height:100%;

}
.vwsapretor
{
background:url(../images/four_v_line.png) repeat-y scroll 0px 0px ;
/*margin:10px 0;*/
}
.blockcontent ul
{
list-style:none;
 margin: 0;
 padding: 0;
}

.blockcontent ul.allworkspace{margin-left:13px;}

.blockcontent label
{

margin-left:0px;
padding: 0;
}
.blockcontent li
{
float:left;

line-height: 12px;
background: none !important;
padding:2px 5px 0 0;
width: 100%;
}
.blockcontent li a
{
text-decoration:none;
color:#666666 !important;
font-size:12px;
font-weight:normal;

}
.blockcontent li label
{
color: #666666;
    font-size: 12px;
    text-decoration: none;
}
.blockcontent li label.workspacelabel a
{
padding-right:5px;
}
.blockcontent ul.allworkspace li
{
width:210px;
padding:0px 0 0 0;
min-height: 12px;
line-height:16px;
}
.blockcontent ul.allworkspace li a
{
float:right;
color:#0154A1 !important;
}
.endcontent
{
border-right:none !important;
}
.bigsapretor
{

height:29px;
width:940px;
clear:both;
}
.activeleft
{
background-image:url('../images/pink_left.png');
}



.activeright
{
background-image:url('../images/pink_right.png');
}
.newtextbox
{
background-image:url('../images/workspace_image.png');
height: 20px;
    width: 137px;
border:none;
}
.newbutton
{
background:none;
height: 20px;
width: 63px;
border:none;
color:#FFF;
padding-bottom:2px;
cursor:pointer;
font-size:10px;
width:245px;
color: #3B2D02;
}
.newworkspace input.inputbox
{
width:118px;
height:20px;
margin :0px 10px 0px 13px;
background:url(../images/search-btn.png);

}
.range li
{
list-style:none;
width:100%;
}
.contentblock1
{

  float: left;
    padding: 0px 10px;
    width: 272px;
margin:0px;
}
.contentblock3
{

  float: right;
    padding: 0px 10px;
    width: 320px;
margin:0px 10px 0px 0px;
}
.contentblock3 h3 {margin:0px 0px 10px 0px; padding:0px; color:#666666; font-size:12px; text-decoration:none; font-family: Arial,Helvetica,sans-serif; font-weight:bold;}
.contentblock3 input.button {background:#0154A1; border-radius:3px; font-weight:normal; border:1px solid #0154A1; color:#ffffff;}

.themehead
{

color: #666666;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
   float:left;
    max-width: 90px;
    padding: 4px 0;
    font-weight:bold;
    white-space: nowrap;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px 0px 10px 0px;
}
.themeedit
{
  max-width: 120px;
float:right;
}

#thematicquerypopup{
	display:block;
	padding:10px 0px 0px 10px;
	}
.range
{
font-size:12px;
color: #666666;
}
.activein
{
display:block;
}
.deactivein
{
display:none;
}
.ja-pathway-text
{
float:left;

}
.white_contentn {
display: none;
position: fixed;
top: 10%;
left: 30%;
width: 25%;
height: 20%;
padding: 5px;
border: 5px solid #0154A1;
border-radius:10px;
background-color: #F0F0F0;
z-index: 1002;
overflow: auto;
box-shadow: 3px 3px 3px 3px #222222;
}
div.show_data_btn {text-align:left; margin:0px 0px 10px 0px; padding:0px;}
.toggle2
{
float:left;
}
.contenttoggle1,.contenttoggle2
{
display:inline-block;
background-color:#c5e1fc;

}
.active
{
font-weight:bold;
}
.collpsable1
{
padding: 0 0 0 80px;
background-color:#c5e1fc !important;
color:#666666;
}

.collpsable1 span.saperator {
    border-right: 1px solid #666666;
    color: #666666;
    cursor: pointer;
    margin: 3px 0 0;
    padding: 0 5px !important;
}
.collpsable1 a{
	color:#0154a1 !important;
	}
.saperator
{
border-right:1px solid #666666;
padding:5px !important;
cursor:pointer;
color:#666666;
}
#options {
position: relative;
z-index: 1;
width: 940px;
}
#jsscroll
{
height:600px;
width:938px;
overflow: auto;
}
tr.firsttableheader td
{
background-color:#0154a1 !important;
color:#FFFFFF !important;
}
tr.secondtableheader td
{
background-color:#c5e1fc !important;
color:#0154a1 !important;
font-size:12px;
}
tr.thirdtableheader td
{
background-color:#c5e1fc !important;
color:#666666 !important;


}
.maintable div
{
padding:5px;
}
.maintable .left {padding:5px 0px;}
.readon
{
margin:3px;
}
div.contenttoggle div.thematicarea { margin:0px 0px; background:url(../images/ther_main_bg.png) repeat-y top left;}
div#themeconent {color:#666666;}
div#themeconent div.readon {margin:0px !important;}
#exportchartbutton
{
float:right;
margin:0;

}
.right_arrow
{
float:right;
font-weight:bold;
color:#767676 !important;
margin-top:2px;
font-style:none;
font-size:10px;
}
div.leftgrpimg {margin:3px 5px 0px -5px; width:16px; float:left; position:absolute; background:url(../images/default.png) no-repeat; height:22px; width:36px;}
div.rightgrptext {margin:0px 0px 4px 36px;line-height:23px;}
.inputboxrange
{
width:75%;
}
.themeconent
{
text-align: center;
padding-left: 70px;
}
.edittheme,.deletegrp
{
cursor:pointer;
}
.colorpickerbutton
{
background: url(../images/colorpicker.png) no-repeat center;
padding: 1px;
cursor: pointer;
width:16px !important;
float:left;
height:16px;
margin:3px 0px 0px 3px;
}
.simpleColorDisplay
{
float:left;
border: 1px solid #B9B7B5 !important;
width:155px !important;
background-color:#FFFFCC;
}
.simpleColorChooser
{
clear:both;
background-color: #FFFFFF;
    border: 1px solid #333333;
    height: 154px;
    margin: 3px 0 0;
    position: absolute;
    width: 176px;
    z-index: 99999999;
top:285px;
}
.addcustomvariable
{
color: #0154A1;
    float: right;
    font-weight: normal;
    text-align: right;
    text-decoration: none !important;
    width: 1%;
}
.blockcontent li a.addcustomvariable
{
float:right;
text-decoration: none !important;
font-weight:normal;
color: #0154A1 !important;
}
.frontbutton input {
margin-top: 5px;
width: auto !important;
height: 25px;
font-size: 11px;
background: #9D9F9E;
font-weight: bold;
color: white;
float:left;
cursor:pointer;
border:none;
padding:5px 5px 20px;
text-shadow:none;
}
.customdelete
{
	float: left;
	padding-left: 5px;
	cursor:pointer;
}
#lightmanagevariable input
{
float:left;
}
.note
{
text-align:right;
font-style:italic;
}
#featurePopup table.popupmaintable tr td
{
	border: 1px solid #666;
	width: 35px;
	text-align: center;
}
.fullscreentable
{

	position: fixed;
	top: 10%;
	left: 10%;
	width: 75%;
	height: 75%;
	padding: 16px;
	border: 5px solid #0154A1;
	border-radius:10px;
	background-color: #F0F0F0;
	z-index:9999;
	overflow: auto;
	box-shadow: 3px 3px 3px 3px #222222;

}
.green
{

	background-color: #ECE0BA;
}
.yellow
{
	background-color: yellow;
}
.blue
{
	background-color: #89570F;
}
.red
{
	background-color: #5C3B0F;
}
.matrix table td
{
	min-width: 100px !important;
	height: 25px;
	line-height:15px;
	vertical-align:middle;
}
.matrix table td:first-child
{
	padding:0  !important;
	margin:0  !important;
	border-right:1px solid #7bb7ef !important;

}
.matrix
{
/*height: 221px;*/
}
#tablescroll
{
min-height:169px;
max-height:90%;



}


#matrixhead1
{
overflow:hidden;

}
#fullscreentable tr:first-child
{


}
#matrixhead1 td
{
	font-weight: bold;
	border:none ;
	color: #FFF;
	min-width: 126px !important;
	height: 25px;
	margin:1px solid #FFF;
}
#matrixhead td
{
	font-weight: bold;
	background: #be1f24 !important;
	color: #FFF;
	padding-left:2px !important;
	border-left:1px solid #FFFFFF !important;
	border-right:1px solid #FFFFFF !important;
}
#matrixhead td:first-child {border-left:none !important;}
.fullscreenicon img,.fullscreenicon img
{
margin:5px;

cursor:pointer;
}

#fullscreen
{
float:right;
text-decoration:none;
}
.spedometer_region
{
width:700px;
}
#spedometer_region
{
float: left;
padding: 0px;
margin:10px 0px 0px 10px;
}
div.speed_m_div { border:1px solid #666666 !important; margin:0px 14px 0px 0px !important;}
#speedfiltershow
{
cursor:pointer;
}
#spedometer_region td
{
font-weight:bold;
}
.compare
{
min-height: 180px;
}
@charset "utf-8";
/* CSS Document */


.graphs .left{padding-top:0px; display:inline-block; padding-left:27px; height:35px; line-height:35px; vertical-align:middle;}
.graphs .left .inputbox{/*background:url(../images/graph-btn.png) no-repeat; */height:19px; width:84px; width:120px; }
.graphs .maintable{display:inline-block; width:924px;background:#fff;margin:7px 7px 0px 7px; }

.activecontent .blockcontent select#thematic_attribute {width:170px !important; padding-top:2px;}
.activecontent .blockcontent select#thematic_attribute option{line-height:22px;}
.activecontent .blockcontent input#no_of_interval {width:162px !important; background:url(../images/input-box.png) no-repeat scroll 0 0 transparent; padding-right:20px; height:23px;}

#exportchartbutton   .button,#showchart  .button
{
	margin-top: 5px;
	width: auto !important;
	height: 25px;
	font-size: 11px;
	background: #9D9F9E;
	font-weight: bold;
	color: white;
	float:left;
	cursor:pointer;
	border:none;
	/*padding:5px 5px 21px;*/
	text-shadow:none;
}
select#chartype option{background:#fff;}
div.maintable div.right select#state.inputbox-mainscr{  background: url(../images/input-box.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 3px 0 0 6px;
    width: 170px;}

div.right select#district.inputbox{  background: url(../images/input-box.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 3px 0 0 6px;
    width: 170px;}



div.mod_mica div.speedometer select#speed_variable.inputbox
{
	background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height:23px;
    padding: 2px 0 0 6px;
    width: 170px !important;
}

div.mod_mica div.speedometer select#speed_region.inputbox
{
	background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
  	height:23px;
    padding: 2px 0 0 6px;
    width: 170px !important;
}

div.mod_mica div.speedometer select#speed_region.inputbox option
{
	background:#fff;
}


div.showresultbody div.collpsable span.modify{float:right;  padding: 0 10px 0 0px !important;  }
div.showresultbody span.modify div#activeworkspacename.ja-pathway-text{float:left;}
div.showresultbody span.modify a.ja-pathway-text{float:right; width:65px; color:#fff;}

.modifystruct{background:url(../images/modify.png) no-repeat scroll right 5px; position:absolute; margin-left: -236px;    width: 250px;}

span#text.active
{
	background: none repeat scroll 0 0 #d94958;
    color: #ffffff;
    font-weight: normal;
}

span#gis.active,span#tq.active,span#matrix.active,span#speedometer.active
{
	background: none repeat scroll 0 0 #d94958;
    color: #ffffff;
    font-weight: normal;
}
span#graphs.active
{
	background: none repeat scroll 0 0 #d94958;
    color: #ffffff;
    font-weight: normal;
}

.divclose{float:right !important;}

#displayinterval input{background:url(../images/small-input-box.png) no-repeat; height:25px; width:87px; padding-right:10px }

.maintableattr_new {
width: 100%;
clear: both;
padding-top: 5px;
text-align: right;
}

#micaform .left {
float: left;
width: 17%;
margin-top: 2px;
}
#micaform .right {
float: right;
width: 78%;
padding:0px;
}


div#light select#avail_attribute.avial_select{width:180px;}

div#chartype_chzn.chzn-container a.chzn-single div{padding:0px 5px !important;}
div.speedometer table tbody tr.sfilter td div.lft{padding-bottom:30px; }

#state_chzn div.chzn-search input{width:121px !important;}
#chartype_chzn div.chzn-search input{width:121px !important;}

div.blockcontent ul.custom_ver {margin:0px 0px 0px 14px !important;}


 div.micacomponentblock .collpsable{
	  background: none repeat scroll 0 0 #9D9F9E;
    float: left;
    height: 30px;
    padding-left: 225px;
    width: 713px;
	}
	div.blockcontent ul.custom_ver li { width:170px;}

 div.blockcontent ul.custom_ver li div.customvariable_name
{
	width:100px; float:left;
}

 div.blockcontent ul.custom_ver li div.customvariable_select
{
	width:60px; float:left;
}