@import url('fontawesome.min.css');

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}

body.site{background:#f1f2f6;}
body.site #bd{background:none;}

label{font-family: 'OpenSansBold'; font-weight:normal;}
.invalid{font-weight:normal; color:#ff6961;}
input.invalid{border-color:#ff6961 !important;}
a:focus{outline:0px;}

b,strong{font-family: 'OpenSansBold'; font-weight:normal;}

.container{max-width:1170px;}
.bm-cool-menu li:hover > ul{display:block;}

#header{background:#fff;}
#header .col-md-5{padding:0px;}
#header .col-md-7{padding-right:0px;}
.micalogo, .logo_img, .logo-content{display: inline-block; vertical-align:top;}

.logo-content{font-size:12px; color:#214f7f; margin-left:10px; padding-left:10px; border-left:1px solid #bfc2c6; margin-top:40px;}
.logo-content .logo_content1{padding:0px; line-height:16px; margin-top:0px;}
h1.logo_img{margin-top:20px; margin-left:15px;}

.menuwrapper{background:#be1f24; color:#fff;}
.menuwrapper #sfmenu{margin:0px; width:100%;}

#bodyonly,
#bodyleftonly{width:100%;}

body li.active{background:none;}

#menus_area{margin:0; float:left;}
.mobile_menu {z-index: 1024; position: relative;}
.mobile_menu #rain_main_ul{color:#fff;}
.mobile_menu #rain_main_ul .sm-blue{background:none; box-shadow:none}
.mobile_menu #rain_main_ul .sm-blue a, 
.mobile_menu #rain_main_ul .sm-blue a:hover, 
.mobile_menu #rain_main_ul .sm-blue a:focus, 
.mobile_menu #rain_main_ul .sm-blue a:active, 
.mobile_menu #rain_main_ul .sm-blue a.highlighted,
.mobile_menu #rain_main_ul a:hover, 
.mobile_menu #rain_main_ul a:active, 
.mobile_menu #rain_main_ul a:focus,
.mobile_menu #rain_main_ul .havechild:hover{background:none; color:#fff; font-family:'OpenSansRegular'; font-weight:normal; font-size:14px;}
.mobile_menu .sub-arrow{display: none;}
.mobile_menu #rain_main_ul .sm-blue a{padding:10px 15px; text-shadow:none; border-radius:0px;}
.mobile_menu #rain_main_ul .sm-blue ul{background:#3f3f3f; padding:0px;}

.mobile_menu #rain_main_ul .sm-blue li.active > a{background:#8c0408;}
.mobile_menu #rain_main_ul .sm-blue ul li.active > a{background:#e84351;}

.acc_link{width:auto; margin-right:0px; height:auto; margin-top:8px;}
.acc_link a{color:#fff; font-weight:normal; font-size:14px; text-transform:uppercase;}

#bredcum{width:100%; margin:15px 0 0; }

.mobile_menu #rain_main_ul li{border:0px;}

.box-design{max-width:400px; margin:25px auto; background:#fff; border:0px solid #ddd; border-radius:5px; padding:30px;}
.box-design .well{background:none; box-shadow: none; border:0px; padding:0px; margin:0px;}
.box-design .form-horizontal .control-label{width:100%; text-align:left; color:#797979;}
.box-design .form-horizontal .controls{margin:0px;}
.box-design .form-horizontal .controls input[type=text],
.box-design .form-horizontal .controls input[type=password]{padding:0px 10px; height:35px; width:100%; background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}
.box-design .form-horizontal .remember{margin-bottom:0px;}
.box-design .form-horizontal .remember input.inputbox{width:auto; margin-right:10px; margin-top:0px;}
.box-design .form-horizontal .remember button[type=submit]{float:right; min-width:120px; background:#be1f24; box-shadow:none; border:0px;}

.login-footer-links{text-align:center;}
.login-footer-links ul{display: inline-block;}
.login-footer-links ul li{display:inline-block;}
.login-footer-links .nav-tabs.nav-stacked > li{margin:0 10px; }
.login-footer-links .nav-tabs.nav-stacked > li > a{border:0px; padding:0px;}
.login-footer-links .nav-tabs.nav-stacked > li > a:hover{background:none;}

.registration{width:100%;}

.title-page h1{font-size:28px; text-transform:uppercase;}
.page-header{border-bottom:0px; margin-bottom:30px;}
.page-header h2{font-size:28px; text-transform:uppercase; text-align: center; color:#333333;}

.registration .reg_box{border-radius:5px; padding:20px; height:auto; background:#fff;}
.registration .reg_box .s_bg_select{width:100%; background:none; border:1px solid #e2e2e4; background:#f4f4f4; height:auto; border-radius:4px;}
.registration .reg_box .s_bg_select select{width:100% !important; height:auto; padding:5px 10px;}
.registration .reg_box .s_bg_input input,
.registration .reg_box .input-append input{padding:0px; height:35px; width:100%; background:#f4f4f4; border:1px solid #e2e2e4; box-shadow:none; padding:0 10px;}


.registration #member-registration{}
.registration #member-registration .control-label{width: 100%; height: auto; line-height: normal; color:#797979;}
.registration #member-registration .controls{width:100%; margin:0px; float: left}
.registration .form-horizontal .reg_box .control-group{height: auto; margin-bottom:20px;}
.registration .reg_box legend{font-size:18px; margin-bottom:15px; font-weight:normal; font-family: 'OpenSansBold';}
.registration .reg_box label{font-size:13px;}
.registration .reg_box .s_bg_input{width:100%;}
.registration .reg_box .field-calendar{width:100%;}
.registration .reg_box .input-append{width:100%; position: relative;}
.registration .reg_box .input-append #jform_date_btn{position: absolute; right:10px; top:5px;}
.registration .textarea_bg,
.registration .textarea_bg_big{background: none !important; height: auto; width: 100%;}
.registration .textarea_bg textarea,
.registration .textarea_bg_big textarea{background:#f4f4f4 !important; border:1px solid #e2e2e4 !important; width:100% !important; height:75px;}
.registration .button-submit{}
.registration .button-submit button {min-width: 120px; background: #be1f24; box-shadow: none; border: 0px; text-shadow: none; font-weight: normal; font-size: 14px; height: auto; padding: 5px 10px; border-radius: 5px;}

#footer{background:#5b6e84; color:#fff;}
#footer .copyright-area{padding:12px 0px;}
#footer .copyright-area p{margin:0px;}


.exploredata-page .main-container-box {background:#f1f2f6;}
.exploredata-page .main-container-box .container{width:100%; max-width:100%; padding:0;}
.exploredata-page #inner_mainbody{margin:0px;}

.top-row{background:#fff; padding:8px 0px;}
.title-explore{font-size:25px; text-transform:uppercase; margin:0px; color:#333333; line-height:52px;}
.sorter-tab{display: inline-block;}
.sorter-tab ul{list-style:none; margin:0px; padding:0px;}
.sorter-tab ul li{display:inline-block; margin-left:10px;}
.sorter-tab ul li a{background:#f1f2f6; border:1px solid #dbdbdd; padding:8px 10px; display: inline-block; border-radius:2px; transition:0.3s}
.sorter-tab ul li a i{margin-right:5px;}
.sorter-tab ul li a:focus,
.sorter-tab ul li a:active {text-decoration: none;}
.sorter-tab ul li.active a,
.sorter-tab ul li:hover a{background:#be1f24; border-color:#be1f24; color:#fff; text-decoration:none;}

.worspacce-edit{display: inline-block; border-left:1px solid #c1c1c1; font-size:12px; color:#797979; text-align:left; padding-left:15px; padding-top:7px; padding-bottom:7px; vertical-align:middle; margin-left:15px;}
.worspacce-edit i{margin-left:5px;}
.worspacce-edit h2{font-size:20px; color:#be1f24; text-transform:uppercase; margin:0px; font-family: 'OpenSansBold'; line-height:16px; margin-top:3px; }

.explore-data{margin-top:10px; height:600px;}
.explore-data #micaform,
.explore-data .row{height:100%;}
.explore-data .row .col-md-4,
.explore-data .row .col-md-8 .full-data-view{height:100%; background:#fff;}
.explore-data .row .col-md-8{height:100%;}
.explore-data .nav-tabs{height:100%; width:75px; float:left; background:#2a3542;}
.explore-data .tab-content{height:100%; width:calc(100% - 75px); float: left; padding:15px;}
.explore-data .nav-tabs li {font-size:12px; text-align: center; width:100%; margin:0px;}
.explore-data .nav-tabs li a{color:#fff; border:0px; padding:20px 0px; width:100%; border-radius:0px;}
.explore-data .nav-tabs li.active a{background:#35404d; color:#fff;}
.explore-data .nav-tabs li a em{display:block; margin-bottom:2px;}
.explore-data .nav-tabs li a:hover,
.explore-data .nav-tabs li a:focus{border:0px; background:#35404d; color:#fff;}
.explore-data .nav-tabs li a .icon-state{background:url(../images/icon-state.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-district{background:url(../images/icon-district.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-type{background:url(../images/icon-type.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-variables{background:url(../images/icon-variable.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-mpi{background:url(../images/icon-mpi.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-swcs{background:url(../images/icon-swcs.png) no-repeat center -22px; width:100%; height:22px; display: block;}

.explore-data .nav-tabs li.active a .icon-state,
.explore-data .nav-tabs li.active a .icon-district,
.explore-data .nav-tabs li.active a .icon-type,
.explore-data .nav-tabs li.active a .icon-variables,
.explore-data .nav-tabs li.active a .icon-mpi,
.explore-data .nav-tabs li.active a .icon-swcs{background-position:center 0px;}

.top-sorter-div{padding-bottom:10px; border-bottom:1px solid #b5b5b5; margin-bottom:8px; position: relative;}
.top-sorter-div .col-md-5{padding-right:0px;}
.top-sorter-div h3{margin:0px; color:#be1f24; text-transform:uppercase; font-size:18px; font-family: 'OpenSansSemibold';}
.searchbox{display: inline-block;}
.searchbox input[type=search] {background: #ededed url(../images/icon-search.png) no-repeat right center; border: solid 1px #ccc; padding: 9px 10px 9px 32px; width: 55px;
    -webkit-border-radius: 10em; -moz-border-radius: 10em; border-radius: 10em; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s;}
.searchbox input[type=search]:focus {width: 125px; background-color: #fff; border-color: #66CC75; -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5); -moz-box-shadow: 0 0 5px rgba(109,207,246,.5); box-shadow: 0 0 5px rgba(109,207,246,.5);}
.searchbox input[type=search] {width:20px; padding:0; padding-left:10px; color: transparent; cursor: pointer; margin:0px; color:transparent; background-color:transparent; border:0px;}
.searchbox input[type=search]:hover { background-color: #fff;}
.searchbox input[type=search]:focus { width:220px; padding-right: 32px; color: #000; background-color: #fff; cursor: auto; color:#666;}
.searchbox input:-moz-placeholder { color: transparent;}
.searchbox input::-webkit-input-placeholder {color: transparent;}

.exploredata-page .tab-pane input[type=checkbox]:not(old), 
.exploredata-page .tab-pane input[type=radio]:not(old){width:28px;margin:0;padding:0;opacity:0; position: absolute; height:18px;}
.exploredata-page .tab-pane input[type=checkbox]:not(old) + label, 
.exploredata-page .tab-pane input[type=radio]:not(old) + label{display:inline-block;padding-left:32px;background:url('../images/red-checks.png') no-repeat 0 -4px;line-height:18px;height:18px;word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; }
.exploredata-page .tab-pane input[type=checkbox]:not(old):checked + label{background-position:0 -28px;}
.exploredata-page .tab-pane input[type=radio]:not(old):checked + label{background-position:0 -48px;}
.exploredata-page .tab-pane .top-sorter-div input[type=checkbox]:not(old) + label,
.exploredata-page .tab-pane .title-sector input[type=checkbox]:not(old) + label{padding-left:22px;}

.exploredata-page .box2{}
.exploredata-page .box2 ul{list-style:none; padding:0; margin:0px;}
.exploredata-page .box2 ul li{ float: left; width:31%; margin:0 1%; position: relative;}
.exploredata-page .box2 ul li .box-design2{display: inline-block; width:100%; height:108px; background:#f1f2f6; background-position:center; padding:24px; transition:0.3s;}
.exploredata-page .box2 ul li .box-design2:hover{background:#be1f24;}
.exploredata-page .box2 ul li .box-design2 .img-box1{background:url(../images/icon-rural.png) no-repeat; width:60px; height:61px; margin:0 auto;}
.exploredata-page .box2 ul li .box-design2 .img-box2{background:url(../images/icon-urban.png) no-repeat; width:60px; height:61px; margin:0 auto;}
.exploredata-page .box2 ul li .box-design2 .img-box3{background:url(../images/icon-all-type.png) no-repeat; width:60px; height:61px; margin:0 auto;}
.exploredata-page .box2 ul li .box-design2:hover .img-box1,
.exploredata-page .box2 ul li .box-design2:hover .img-box2,
.exploredata-page .box2 ul li .box-design2:hover .img-box3{background-position:0 -61px;}
.exploredata-page .box2 ul li .txt-box{text-align: center; color:#797979; font-size:16px;  font-family: 'OpenSansSemibold'; margin-top:5px; text-transform:uppercase;}
.exploredata-page .box2 ul li .txt-box a{ color:#797979;}
.exploredata-page .box2 ul li:hover .txt-box{color:#be1f24;}

.exploredata-page .tab-pane .type-list input[type=checkbox]:not(old), 
.exploredata-page .tab-pane .type-list input[type=radio]:not(old){width:100%;margin:0;padding:0;opacity:0; position: absolute; height:110px;}
.exploredata-page .tab-pane .type-list input[type=checkbox]:not(old) + label, 
.exploredata-page .tab-pane .type-list input[type=radio]:not(old) + label{display:inline-block; padding-top:110px; background:url('../images/blue-checks.png') no-repeat 0 -4px; height:18px; word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; width:100%; text-align: center; color: #797979;  font-size: 16px; font-family: 'OpenSansSemibold'; margin-top: 5px;    text-transform: uppercase; padding-left:0px;}
.exploredata-page .tab-pane .type-list input[type=checkbox]:not(old):checked + label{background-position:0 -61px;}
.exploredata-page .tab-pane .type-list input[type=radio]:not(old):checked + label{background-position:0 -48px;}
.exploredata-page .tab-pane .type-list .top-sorter-div input[type=checkbox]:not(old) + label,
.exploredata-page .tab-pane .type-list .title-sector input[type=checkbox]:not(old) + label{padding-left:22px;}

.exploredata-page .tab-pane .type-list input[type=checkbox] + label span{position:relative; top:10px;}

.exploredata-page .tab-pane .type-list input[type=checkbox].rural-check + label{background:#f1f2f6 url('../images/icon-rural.png') no-repeat center center;}
.exploredata-page .tab-pane .type-list input[type=checkbox].rural-check:not(old):checked + label{background:#be1f24 url('../images/icon-rural-active.png') no-repeat center center; color:#be1f24;}

.exploredata-page .tab-pane .type-list input[type=checkbox].urban-check + label{background:#f1f2f6 url('../images/icon-urban.png') no-repeat center center;}
.exploredata-page .tab-pane .type-list input[type=checkbox].urban-check:not(old):checked + label{background:#be1f24 url('../images/icon-urban-active.png') no-repeat center center; color:#be1f24;}

.exploredata-page .tab-pane .type-list input[type=checkbox].all-check + label{background:#f1f2f6 url('../images/icon-all-type.png') no-repeat center center;}
.exploredata-page .tab-pane .type-list input[type=checkbox].all-check:not(old):checked + label{background:#be1f24 url('../images/icon-all-type-active.png') no-repeat center center; color:#be1f24;}



/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
    max-height: 450px;
}     
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
} 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
} 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
} 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
} 
  
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 0px;
    top: 0;
    width: 5px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
} 
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
 
 
/* update scrollbar offset if both scrolls are visible */ 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

/*--------- SCROLLER DESIGN DONE ----------*/


.list1{list-style: none; margin:0px; padding:0px;}
.list1 li{float: left; width:50%; margin-bottom:15px;}
.title-sector{color:#797979; display: inline-block; width:100%; padding-bottom:10px; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.title-sector [class*="col"] {padding: 0;}
.title-sector h3{display:inline-block; font-size:16px; text-transform:uppercase; line-height:15px; font-family:'OpenSansSemibold'; margin:0px; vertical-align:middle;}
.list3 ul{list-style: none; margin:0px; padding:0px;}
.list3 li{float: left; width:33.33%; margin-bottom:15px;}

.list2 ul{list-style: none; margin:0px; padding:0px; display:inline-block; width:100%;}
.list2 li{float: left; width:100%; margin-bottom:15px;}

.explore-data .row .col-md-8 .full-data-view{padding:25px; width:calc(100% - 15px); position: relative;}
.full-data-view .popup_div{position:absolute; width:100%; height:100%; background:#fff; left:0px; top:0px;}
.full-data-view .popup_div .popup_inner{width:350px; height:160px; border:1px solid #c1c1c1; padding:20px; position:relative; top:50%; margin-top:-80px; left:50%; margin-left:-175px;}
.full-data-view .popup_div .popup_inner p{font-size:14px; color:#767676; line-height:18px;}
.full-data-view .popup_div .popup_inner .button-style{margin-top:35px; border-top:1px solid #c1c1c1; padding-top:20px;}
.full-data-view .popup_div .popup_inner .button-style a{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:10px 15px; font-size:14px; line-height:12px;}

#variables .col-md-11{float: left; width:calc(100% - 60px); padding:0;}
#variables .col-md-11 .scroll-wrapper > .scroll-content{padding-right:15px;}
#variables .scrollbar-inner > .scroll-element.scroll-y{right:5px;}
#variables .col-md-1{padding:0; width:60px; float: left;}
#variables .col-md-1 .custom-button{margin-bottom:10px;}
#variables .col-md-1 .custom-button a{color:#2a3542; text-transform:uppercase; font-size:13px;}
#variables .col-md-1 .custom-button a i{font-size:35px;}
#variables ul.icons-list {margin:0px; padding:0}
#variables ul.icons-list li{list-style: none; margin-bottom:8px; text-align: center;}
#variables ul.icons-list li a{background:#f1f2f6; width:27px; height:27px; border-radius:50%; display: inline-block; overflow:hidden; text-decoration:none;}
#variables ul.icons-list li .demographics-icon{background:url(../images/icon1.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .hh-size-icon{background:url(../images/icon2.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .hh-basic-icon{background:url(../images/icon3.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .hh-light-and-fuel-icon{background:url(../images/icon4.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .agriculture-icon{background:url(../images/icon5.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .financial-services-icon{background:url(../images/icon6.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .commercial-use-of-premises-icon{background:url(../images/icon7.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .registered-active-companies-icon{background:url(../images/icon8.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .social-use-of-premises-icon{background:url(../images/icon9.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .media-ownership-icon{background:url(../images/icon10.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .vehicle-ownership-icon{background:url(../images/icon11.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .miscellaneous-icon{background:url(../images/icon12.png) no-repeat; width:100%; height:100%; display:inline-block; }



#variables ul.icons-list li a:hover{background:#be1f24;}
#variables ul.icons-list li a:hover span{background-position:0px -27px;}



.medialist .modal{position:relative; transition:0.3s}
.medialist .modal img{width:100%;}
.medialist .modal:before{position: absolute; content: ''; width:100%; height:100%; background:rgba(0,0,0,0.5) url(../images/icon-zoom.png) no-repeat center; background-size:30px auto; display: none;}
.medialist .modal:hover:before{display:block;}
.medialist .col-md-3{margin-bottom:30px;}

.osm-taskbar a.btn.btn-primary{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:10px 15px; font-size:14px; line-height:12px; border:none; box-shadow:none;}
.payment-box{max-width:800px; margin:0 auto; border:1px solid #ccc; border-radius:4px; background:#fff}
.payment-box .col-md-9{padding:15px;}
.payment-box .col-md-3{background:#fbfbfb; border-left:1px dashed #ccc; padding:50px 30px;}
.payment-box .col-md-3 img{opacity:0.2}
#bodyleftonly .payment-box h3{font-family: 'OpenSansBold'; font-size:16px;}

.item-page .box-white{background:#fff; padding:15px; color:#333;}
.item-page .box-white p{ color:#333;}

.box-design-2{background:#fff;}
#mainbody .module.box-design-2 h3{padding:10px 0px 10px 20px; margin:0px; height: auto; border-bottom:1px solid #aaaaaa; margin-bottom:20px;}
#mainbody .module.box-design-2 .rsmsc_scroller_class{}
#mainbody .module.box-design-2 .rsmsc_scroller_class .innerDiv{width:100% !important; padding:0 20px;}

.teamlist .row{margin-bottom:20px;}
.teamlist img{width:100%;}
.teamlist h2{font-family:'OpenSansSemibold'; font-weight:normal; margin:0px 0px 10px; font-size:20px; color:#be1f24;}

a.download-btn{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:18px 30px; font-size:18px; line-height:12px; transition:0.3s}
a.download-btn:hover{text-decoration:none; background:#e84351;}

.cls_002{font-family:'OpenSansSemibold'; font-size:18px;}

.download-links{display: inline-block; width:90%; margin:0 5%; padding:15px 0px; }
.download-links a{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:18px 20px; font-size:16px; line-height:12px; transition:0.3s; width:48%; float: left; text-align: center; margin-left:4%;}
.download-links a i{margin-right:10px; font-size:20px; vertical-align:middle;}
.download-links a:first-child{margin-left:0px;}
.download-links a:hover{text-decoration:none; background:#e84351;}

table.casestudy_urban  th,
table.casestudy_rural  th,
table.casestudy_media  th{
    font-family: 'OpenSansSemibold';
    font-weight:normal;
}

#userForm{margin-top:25px;}
.query-form{background:#fff; padding:15px;}
.query-form .form-group{width:60%;}
.query-form .form-group label{width:100%; display: inline-block;}
.query-form .form-group input.inputbox{padding:0px 10px; height:35px; width:100%; background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}
.query-form .form-group textarea{background:#f4f4f4 !important; border:0px solid #e2e2e4 !important; width:100% !important; height:100px;}
.query-form .form-group.rsform-block-send label{display:none;}
.query-form .form-group.rsform-block-send input.rsform-submit-button{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:8px 30px; height:auto; font-weight:normal; font-size:16px; line-height:12px; transition:0.3s; width: auto; text-shadow:none; text-transform:uppercase;}

.address-box{background:#fff; padding:15px;}
.address-box-left,
.map-box{padding:15px 30px;}
#bodyleftonly .address-box-left h3{font-family: 'OpenSansSemibold'; font-weight:normal; margin:0px 0px 10px; font-size:16px; }

#osm-singup-page{}
#osm-singup-page .osm-page-title,
#osm-singup-page .osm-message {text-align: center;}
#osm-singup-page #os_form{max-width: 400px; margin: 25px auto; background: #fff; border: 0px solid #ddd; border-radius: 5px; padding: 30px;}
#osm-singup-page #os_form .control-group{}
#osm-singup-page #os_form .control-group .control-label{width:100%;}
#osm-singup-page #os_form .control-group .controls{width:100%; margin:0px;}
#osm-singup-page form.form-horizontal .control-label, 
#osm-singup-page form.form-horizontal .control-label label{font-weight:normal;}
#osm-singup-page #os_form .control-group .controls input{padding:0px 10px; height:35px; width:100%; background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}

.input-prepend.inline-display{}

.header-leftpanel,
.header-rightpanel{padding:10px;}
.data-leftpanel ul{padding:10px; background:#fff; width:calc(100% - 10px); display:inline-block;}
.data-leftpanel ul li{height:auto !important;}
.data-leftpanel .exploredatalink a{height: auto;}
.rightpanel{padding-left:15px;}
.data-rightpanel ul{background:#fff; margin-bottom:10px;}
.data-rightpanel ul .data-label{font-family: 'OpenSansSemibold'; font-weight:normal;}

.menuwrapper .col-md-2{position: inherit;}
.menuwrapper .container{position:relative;}
.acc_link .module{display: inline-block; margin-left:15px;}
.searchbox { display: inline-block; width: auto; float: none; margin: 0; position: inherit; border-left: 2px solid #fff; padding-left: 10px; margin-left: 10px; }
.searchbox form { margin-bottom: 0; }
.searchbox form .search-icon-display i { font-size: 25px; vertical-align: middle;
    display: inline-block; color: #fff; }
.search {}
.search label.element-invisible{background:url("../images/search-icon.png") no-repeat scroll 5px center; border:0px solid #ffffff; box-shadow: none; color: #000000; padding:0 5px 0 20px; width:20px; height:25px; margin:0px; transition: all 0.3s ease 0s; cursor: pointer; vertical-align: middle;}
/* .search .inputbox.search-query  {border: 0px solid #ffffff; box-shadow: none; color:#fff; width: 20px; position: absolute; top:100%; right:0px; border-radius:5px; padding:0px; height: 0px;}
.search .inputbox.search-query:focus {background:#009bc0; border:1px solid #009bc0; box-shadow: none; color: #fff; font-weight: 300; margin-top: 5px; transition: all 0.3s ease 0s; width:300px; padding:5px 10px; height: auto;} */
.search button{display: none;}
.search-icon-display{cursor:pointer; width:30px; height:30px; display: inline-block; border-radius:50%; background:#8c0408; text-align: center; line-height:30px;}
#searchbox{ background: #ffffff; border: 2px solid #cccccc; left: 0; padding: 0; position: absolute; z-index: 1024; right: 0; width: 100%; display: none; top:45px;}
#searchbox .icon-search-inner {display: none; float: left; font-size: 18px; width:5%; text-align: center; color:#bbb; line-height: 38px;}
#searchbox input::placeholder {color:#E73932; }
#searchbox input.inputbox{float: left; width:96%; height:38px; border:0px; font-size:21px; background: #fff; color: #333; padding:0 15px; }
#searchbox .searchbox-close{float: left; width:4%; text-align: center; font-size: 25px; height: 38px; line-height: 38px; color: #fff; background-color: #E73932;}
#searchbox .searchbox-close i{cursor:pointer;}

/*-------- SEARCH PAGE DESIGN ----------*/
.search-result-page {margin-top: 25px;}
.search-result-page .searchintro{font-size: 25px; margin-top:20px;}
.search-result-page .searchintro p{margin-bottom:0px;}
.search-result-page .searchintro .badge{background:#8c0408;  font-family: 'OpenSansBold'; font-weight:normal; font-size:16px; line-height:22px; padding:3px 10px;}

.search-result-page .btn-toolbar{margin-bottom:10px; background: #fff; padding: 10px; margin-left:0px;}
.search-result-page .phrases-box{}
.search-result-page .radio{ padding: 0px 0 0px 20px; margin-top:0px; display: inline-block; margin-right: 30px;}

.search-result-page .checkbox {padding: 0px 0 0px 20px; margin-top:0px; display: inline-block; margin-right:30px;}
.search-result-page .checkbox input[type=checkbox],
.search-result-page .radio input[type=radio]{margin-left:0px; margin-top:0px; left:0px; top:5px;}

.search .search-result-page button{display: block; background:#be1f24; color:#fff; width:100px; height:40px;}
.search .search-result-page button .fa{margin-right:5px;}
.search-result-page .btn-toolbar input{height: 40px; width: 100%; padding: 0 10px; border: 0; background: #fff; font-size: 18px;}
.search-result-page .btn-toolbar .btn-group:first-child{width:calc(100% - 110px);}

.search .search-result-page h3{margin-top:15px; font-size:20px; margin-top:10px;  font-family: 'OpenSansBold';}

.odering_row{background:#fff; padding:10px 0; margin-top:15px; margin-bottom:35px; display: inline-block; width:calc(100% - 30px); margin-left:15px;}
.search-result-page .form-limit,
.search-result-page .counter{display: inline-block; margin-left:15px;}
.search-result-page .form-limit .chzn-container{min-width:60px;}

.search-result-page .phrases,
.search-result-page .only{padding-bottom: 5px; border-bottom: 1px dashed #ccc; margin-bottom: 10px;}

.searchblock{border-top:1px solid #ddd; padding-top:15px; margin-bottom:15px;}

.searchoptions{background:#fff; margin-top:10px; margin-bottom:10px; margin-left:0; margin-right:0; }

.search-results {background: #fff; padding: 20px;}
.search-results dt{ font-family: 'OpenSansBold'; font-weight:normal;}
.search-results .result-created{margin-bottom:20px;}
.search .search-results span.highlight{background:#E84351; padding:1px 0px; color:#fff; font-weight:normal;}

.pagination{background:#fff; padding:15px 0px; margin:10px 0px; width:100%;}
.pagination .pagination-list{margin:0px;}
.pagination a, .pagination span{padding:0px;}
.pagination .pagination-list li a{line-height:26px; text-align: center;}




/* --------- REAPONSIVE MEDIA START ---------- */
@media (max-width:767px) {
	.menuwrapper #sfmenu{display: none;}
}