@import url('fontawesome.min.css');

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}

body.site{background:#f1f2f6;}
body.site #bd{background:none;}

label{font-family: 'OpenSansBold'; font-weight:normal;}
.invalid{font-weight:normal; color:#ff6961;}
input.invalid{border-color:#ff6961 !important;}
a:focus{outline:0px;}
a,
a:focus, a:hover{text-decoration:none;}
.active a{font-weight:normal;}

b,strong{font-family: 'OpenSansBold'; font-weight:normal;}

.container{max-width:1170px;}
.bm-cool-menu li:hover > ul{display:block;}

#header{background:#fff;}
#header .col-md-5{padding:0px;}
#header .col-md-7{padding-right:0px;}
.micalogo, .logo_img, .logo-content{display: inline-block; vertical-align:top;}

.logo-content{font-size:12px; color:#214f7f; margin-left:10px; padding-left:10px; border-left:1px solid #bfc2c6; margin-top:40px;}
.logo-content .logo_content1{padding:0px; line-height:16px; margin-top:0px;}
h1.logo_img{margin-top:20px; margin-left:15px;}

.menuwrapper{background:#be1f24; color:#fff;}
.menuwrapper #sfmenu{margin:0px; width:100%;}

body #bodyonly,
body #bodyleftonly{width:100%;}

body li.active{background:none;}

#industryLevelList li {
    width: 100%;
}

.menuwrapper #menus_area{margin:0; float:left;}
.mobile_menu {z-index: 1024; position: relative;}
.mobile_menu #rain_main_ul{color:#fff;}
.mobile_menu #rain_main_ul .sm-blue{background:none; box-shadow:none}
.mobile_menu #rain_main_ul .sm-blue a,
.mobile_menu #rain_main_ul .sm-blue a:hover,
.mobile_menu #rain_main_ul .sm-blue a:focus,
.mobile_menu #rain_main_ul .sm-blue a:active,
.mobile_menu #rain_main_ul .sm-blue a.highlighted,
.mobile_menu #rain_main_ul a:hover,
.mobile_menu #rain_main_ul a:active,
.mobile_menu #rain_main_ul a:focus,
.mobile_menu #rain_main_ul .havechild:hover{background:none; color:#fff; font-family:'OpenSansRegular'; font-weight:normal; font-size:14px;}
.mobile_menu .sub-arrow{display: none;}
.mobile_menu #rain_main_ul .sm-blue a{padding:10px 15px; text-shadow:none; border-radius:0px;}
.mobile_menu #rain_main_ul .sm-blue ul{background:#3f3f3f; padding:0px;}

.mobile_menu #rain_main_ul .sm-blue li.active > a{background:#8c0408;}
.mobile_menu #rain_main_ul .sm-blue ul li.active > a{background:#e84351;}

.menuwrapper .acc_link{width:auto; margin-right:0px; height:auto; margin-top:8px;}
.menuwrapper .acc_link a{color:#fff; font-weight:normal; font-size:14px; text-transform:uppercase;}

#bredcum{width:100%; margin:15px 0 0; }

.mobile_menu #rain_main_ul li{border:0px;}

.box-design{max-width:400px; margin:25px auto; background:#fff; border:0px solid #ddd; border-radius:5px; padding:30px;}
.box-design .well{background:none; box-shadow: none; border:0px; padding:0px; margin:0px;}
.box-design .form-horizontal .control-label{width:100%; text-align:left; color:#797979;}
.box-design .form-horizontal .controls{margin:0px;}
.box-design .form-horizontal .controls input[type=text],
.box-design .form-horizontal .controls input[type=password]{padding:0px 10px; height:35px; width:100%; background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}
.box-design .form-horizontal .remember{margin-bottom:0px;}
.box-design .form-horizontal .remember input.inputbox{width:auto; margin-right:10px; margin-top:0px;}
.box-design .form-horizontal .remember button[type=submit]{float:right; min-width:120px; background:#be1f24; box-shadow:none; border:0px;}

.login-footer-links{text-align:center;}
.login-footer-links ul{display: inline-block;}
.login-footer-links ul li{display:inline-block;}
.login-footer-links .nav-tabs.nav-stacked > li{margin:0 10px; }
.login-footer-links .nav-tabs.nav-stacked > li > a{border:0px; padding:0px;}
.login-footer-links .nav-tabs.nav-stacked > li > a:hover{background:none;}

.registration{width:100%;}

.title-page h1{font-size:28px; text-transform:uppercase;}
.page-header{border-bottom:0px; margin-bottom:30px;}
.page-header h2{font-size:28px; text-transform:uppercase; text-align: center; color:#333333;}

.registration .reg_box{border-radius:5px; padding:20px; height:auto; background:#fff;}
.registration .reg_box .s_bg_select{width:100%; background:none; border:1px solid #e2e2e4; background:#f4f4f4; height:auto; border-radius:4px;}
.registration .reg_box .s_bg_select select{width:100% !important; height:auto; padding:5px 10px;}
.registration .reg_box .s_bg_input input,
.registration .reg_box .input-append input{padding:0px; height:35px; width:100%; background:#f4f4f4; border:1px solid #e2e2e4; box-shadow:none; padding:0 10px;}


.registration #member-registration{}
.registration #member-registration .control-label{width: 100%; height: auto; line-height: normal; color:#797979;}
.registration #member-registration .controls{width:100%; margin:0px; float: left}
.registration .form-horizontal .reg_box .control-group{height: auto; margin-bottom:20px;}
.registration .reg_box legend{font-size:18px; margin-bottom:15px; font-weight:normal; font-family: 'OpenSansBold';}
.registration .reg_box label{font-size:13px;}
.registration .reg_box .s_bg_input{width:100%;}
.registration .reg_box .field-calendar{width:100%;}
.registration .reg_box .input-append{width:100%; position: relative;}
.registration .reg_box .input-append #jform_date_btn{position: absolute; right:10px; top:5px;}
.registration .textarea_bg,
.registration .textarea_bg_big{background: none !important; height: auto; width: 100%;}
.registration .textarea_bg textarea,
.registration .textarea_bg_big textarea{background:#f4f4f4 !important; border:1px solid #e2e2e4 !important; width:100% !important; height:75px;}
.registration .button-submit{}
.registration .button-submit button {min-width: 120px; background: #be1f24; box-shadow: none; border: 0px; text-shadow: none; font-weight: normal; font-size: 14px; height: auto; padding: 5px 10px; border-radius: 5px;}

body #footer{background:#5b6e84; color:#fff;}
body #footer .copyright-area{padding:12px 0px;}
body #footer .copyright-area p{margin:0px;}


body.exploredata-page{padding:0px; margin:0px;}
.exploredata-page .main-container-box {background:#f1f2f6;}
.exploredata-page .main-container-box .container{width:100%; max-width:100%; padding:0;}
.exploredata-page #inner_mainbody{margin:0px;}

.top-row{background:#fff; padding:8px 0px;}
.title-explore{font-size:25px; text-transform:uppercase; margin:0px; color:#333333; line-height:35px; border:0; padding:0px; font-weight:normal; display: inline-block; vertical-align: middle; margin-left:10px;}
.sorter-tab{display: inline-block;}
.sorter-tab ul{list-style:none; margin:0px; padding:0px;}
.sorter-tab ul li{display:inline-block; margin-left:10px;}
.sorter-tab ul li a{background:#f1f2f6; border:1px solid #dbdbdd; padding:8px 10px; display: inline-block; border-radius:2px; transition:0.3s}
.sorter-tab ul li a i{margin-right:5px;}
.sorter-tab ul li a:focus,
.sorter-tab ul li a:active {text-decoration: none;}
.sorter-tab ul li a.active,
.sorter-tab ul li:hover a{background:#be1f24 !important; border-color:#be1f24; color:#fff; text-decoration:none;}

.worspacce-edit{display: inline-block; border-left:1px solid #c1c1c1; font-size:12px; color:#797979; text-align:left; padding-left:15px; padding-top:7px; padding-bottom:7px; vertical-align:middle; margin-left:15px;}
.worspacce-edit i{margin-left:5px;}
.worspacce-edit h2{font-size:20px; color:#be1f24; text-transform:uppercase; margin:0px; font-family: 'OpenSansBold'; line-height:16px; margin-top:3px; padding:0px; border:0px;}

.explore-data{margin-top:10px; height:620px;}
.explore-data #micaform,
.explore-data .row{height:100%;}
.explore-data .row .col-md-4,
.explore-data .row .col-md-8 .full-data-view{height:100%; background:#fff;}
.explore-data .row .col-md-8{height:100%;}
.explore-data .nav-tabs{height:100%; width:75px; float:left; background:#2a3542;}
.explore-data .tab-content{height:100%; width:calc(100% - 75px); float: left; padding:15px 0px 15px 15px; position:relative;}
.explore-data .nav-tabs li {font-size:12px; text-align: center; width:100%; margin:0px;}
.explore-data .nav-tabs li a{color:#fff; border:0px; padding:20px 0px; width:100%; border-radius:0px;}
.explore-data .nav-tabs li.active a{background:#35404d; color:#fff;}
.explore-data .nav-tabs li.active:before{content: '\f0da'; font-family: 'Font Awesome 5 Free'; position: absolute; right: -6px; color: #35404d; top: 50%; font-size: 25px; margin-top: -5px;}
.explore-data .nav-tabs li a em{display:block; margin-bottom:2px;}
.explore-data .nav-tabs li a:hover,
.explore-data .nav-tabs li a:focus{border:0px; background:#35404d; color:#fff;}
.explore-data .nav-tabs li a .icon-state{background:url(../images/icon-state.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-district{background:url(../images/icon-district.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-type{background:url(../images/icon-type.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-variables{background:url(../images/icon-variable.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-mpi{background:url(../images/icon-mpi.png) no-repeat center -22px; width:100%; height:22px; display: block;}
.explore-data .nav-tabs li a .icon-swcs{background:url(../images/icon-swcs.png) no-repeat center -22px; width:100%; height:22px; display: block;}

.explore-data .nav-tabs li.active a .icon-state,
.explore-data .nav-tabs li.active a .icon-district,
.explore-data .nav-tabs li.active a .icon-type,
.explore-data .nav-tabs li.active a .icon-variables,
.explore-data .nav-tabs li.active a .icon-mpi,
.explore-data .nav-tabs li.active a .icon-swcs{background-position:center 0px;}

.top-sorter-div{padding-bottom:10px; border-bottom:1px solid #b5b5b5; margin-bottom:8px; position: relative;}
.top-sorter-div .col-md-5{padding-right:0px;}
.top-sorter-div h3{margin:0px; color:#be1f24; text-transform:uppercase; font-size:18px; font-family: 'OpenSansSemibold'; text-decoration:none;}
.searchbox{display: inline-block;}
.searchbox input[type=search] {background: #f1f2f6 url(../images/icon-search.png) no-repeat 95% center; background-size:15px auto; border: solid 1px #ccc; padding: 9px 10px 9px 32px;;
    -webkit-border-radius: 10em; -moz-border-radius: 10em; border-radius: 10em; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; height:25px;}
/* .searchbox input[type=search]:focus {width: 125px; background-color: #fff; border-color: #66CC75; -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5); -moz-box-shadow: 0 0 5px rgba(109,207,246,.5); box-shadow: 0 0 5px rgba(109,207,246,.5);} */
.searchbox input[type=search] {width:100%; padding:0; padding-left:10px; color: transparent; cursor: pointer; margin:0px; color:#666; background-color:#f1f2f6; border:0px;}
/* .searchbox input[type=search]:hover { background-color: #fff;}
.searchbox input[type=search]:focus { width:220px; padding-right: 32px; color: #000; background-color: #fff; cursor: auto; color:#666;}
.searchbox input:-moz-placeholder { color: transparent;}
.searchbox input::-webkit-input-placeholder {color: transparent;} */

.exploredata-page .tab-pane input[type=checkbox]:not(old),
.exploredata-page .tab-pane input[type=radio]:not(old){width:28px;margin:0;padding:0;opacity:0; position: absolute; height:18px;}

.exploredata-page .tab-pane input[type=checkbox]:not(old) + label,
.exploredata-page .tab-pane input[type=radio]:not(old) + label{display:inline-block;padding-left:32px;background:url('../images/check-inactive.png') no-repeat; line-height:18px; word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; font-weight:normal;}

.exploredata-page .tab-pane input[type=checkbox]:not(old):checked + label,
.exploredata-page .tab-pane input[type=radio]:not(old):checked + label{background:url('../images/check-active.png') no-repeat;}



/* .exploredata-page .tab-pane input[type=radio]:not(old):checked + label{background-position:0 -48px;} */
.exploredata-page .tab-pane .top-sorter-div input[type=checkbox]:not(old) + label,
.exploredata-page .tab-pane .title-sector input[type=checkbox]:not(old) + label{padding-left:22px; height:18px;}

.radio-list input[type=radio]:not(old){width:28px;margin:0;padding:0;opacity:0; position: absolute; height:18px;}
.radio-list input[type=radio]:not(old) + label{display:inline-block;padding-left:32px;background:url('../images/red-checks.png') no-repeat 0 -4px;line-height:18px;height:18px;word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; font-weight:normal;}
.radio-list input[type=radio]:not(old):checked + label{background-position:0 -50px;}


.exploredata-page .checkbox_list input[type=checkbox]:not(old),
.exploredata-page .checkbox_list input[type=radio]:not(old){width:28px;margin:0;padding:0;opacity:0; position: absolute; height:18px;}
.exploredata-page .checkbox_list input[type=checkbox]:not(old) + label,
.exploredata-page .checkbox_list input[type=radio]:not(old) + label{display:inline-block;padding-left:32px;background:url('../images/red-checks.png') no-repeat 0 -4px;line-height:18px;height:18px;word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; font-weight:normal;}
.exploredata-page .checkbox_list input[type=checkbox]:not(old):checked + label,
.exploredata-page .checkbox_list input[type=radio]:not(old):checked + label{background-position:0 -28px;}
.exploredata-page .checkbox_list .top-sorter-div input[type=checkbox]:not(old) + label,
.exploredata-page .checkbox_list .title-sector input[type=checkbox]:not(old) + label{padding-left:22px;}

.exploredata-page .box2{}
.exploredata-page .box2 ul{list-style:none; padding:0; margin:0px;}
.exploredata-page .box2 ul li{ float: left; width:31%; margin:0 1%; position: relative;}
.exploredata-page .box2 ul li .box-design2{display: inline-block; width:100%; height:108px; background:#f1f2f6; background-position:center; padding:24px; transition:0.3s;}
.exploredata-page .box2 ul li .box-design2:hover{background:#be1f24;}
.exploredata-page .box2 ul li .box-design2 .img-box1{background:url(../images/icon-rural.png) no-repeat; width:60px; height:61px; margin:0 auto;}
.exploredata-page .box2 ul li .box-design2 .img-box2{background:url(../images/icon-urban.png) no-repeat; width:60px; height:61px; margin:0 auto;}
.exploredata-page .box2 ul li .box-design2 .img-box3{background:url(../images/icon-all-type.png) no-repeat; width:60px; height:61px; margin:0 auto;}
.exploredata-page .box2 ul li .box-design2:hover .img-box1,
.exploredata-page .box2 ul li .box-design2:hover .img-box2,
.exploredata-page .box2 ul li .box-design2:hover .img-box3{background-position:0 -61px;}
.exploredata-page .box2 ul li .txt-box{text-align: center; color:#797979; font-size:16px;  font-family: 'OpenSansSemibold'; margin-top:5px; text-transform:uppercase;}
.exploredata-page .box2 ul li .txt-box a{ color:#797979;}
.exploredata-page .box2 ul li:hover .txt-box{color:#be1f24;}

.exploredata-page .tab-pane .typelist li,
.exploredata-page .tab-pane .mpilist li{float: left; width:31%; margin:0 1%; position: relative;}
.exploredata-page .tab-pane .typelist input[type=checkbox]:not(old),
.exploredata-page .tab-pane .mpilist input[type=checkbox]:not(old){width:100%;margin:0;padding:0;opacity:0; position: absolute; height:110px;}
.exploredata-page .tab-pane .typelist input[type=checkbox]:not(old) + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]:not(old) + label{display:inline-block; padding-top:110px; background:url('../images/blue-checks.png') no-repeat 0 -4px; height:18px; word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; width:100%; text-align: center; color: #797979;  font-size: 16px; font-family: 'OpenSansSemibold'; margin-top: 5px;    text-transform: uppercase; padding-left:0px;}
.exploredata-page .tab-pane .typelist input[type=checkbox]:not(old):checked + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]:not(old):checked + label{background-position:0 -61px;}
.exploredata-page .tab-pane .typelist .top-sorter-div input[type=checkbox]:not(old) + label{padding-left:22px;}

.exploredata-page .tab-pane .typelist input[type=checkbox] + label span,
.exploredata-page .tab-pane .mpilist input[type=checkbox] + label span{position:relative; top:10px;}

.exploredata-page .tab-pane .typelist input[type=checkbox].rural-check + label,
.exploredata-page .tab-pane .typelist input[type=checkbox]#m_type_rural + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]#m_type_rural1 + label{background:#f1f2f6 url('../images/icon-rural.png') no-repeat center center;}
.exploredata-page .tab-pane .typelist input[type=checkbox].rural-check:not(old):checked + label,
.exploredata-page .tab-pane .typelist input[type=checkbox]#m_type_rural:not(old):checked + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]#m_type_rural1:not(old):checked + label{background:#be1f24 url('../images/icon-rural-active.png') no-repeat center center; color:#be1f24;}

.exploredata-page .tab-pane .typelist input[type=checkbox].urban-check + label,
.exploredata-page .tab-pane .typelist input[type=checkbox]#m_type_urban + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]#m_type_urban1 + label{background:#f1f2f6 url('../images/icon-urban.png') no-repeat center center;}
.exploredata-page .tab-pane .typelist input[type=checkbox].urban-check:not(old):checked + label,
.exploredata-page .tab-pane .typelist input[type=checkbox]#m_type_urban:not(old):checked + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]#m_type_urban1:not(old):checked + label{background:#be1f24 url('../images/icon-urban-active.png') no-repeat center center; color:#be1f24;}

.exploredata-page .tab-pane .typelist input[type=checkbox].all-check + label,
.exploredata-page .tab-pane .typelist input[type=checkbox]#m_type_all + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]#m_type_all1 + label{background:#f1f2f6 url('../images/icon-all-type.png') no-repeat center center;}
.exploredata-page .tab-pane .typelist input[type=checkbox].all-check:not(old):checked + label,
.exploredata-page .tab-pane .typelist input[type=checkbox]#m_type_all:not(old):checked + label,
.exploredata-page .tab-pane .mpilist input[type=checkbox]#m_type_all1:not(old):checked + label{background:#be1f24 url('../images/icon-all-type-active.png') no-repeat center center; color:#be1f24;}


.explore-data .tab-content .ui-multiselect--list-wrap{width:100%; position:relative; border:0px; margin:0px;}
.exploredata-page .tab-pane .ui-multiselect--filter{border:0px; padding:0px;}
.exploredata-page .tab-pane .ui-multiselect--filter input[type="checkbox"] + label:after{content:'';}
.explore-data .tab-content .ui-multiselect--list {display: inline-block; width:100%;}
.explore-data .tab-content .ui-multiselect--list li{width:50%; float: left; padding:10px 0px;}
.explore-data .tab-content .ui-multiselect--list li:hover,
.explore-data .tab-content .ui-multiselect--list li.ui-multiselect--selected{background:none;}

.explore-data .tab-content .ui-multiselect--list li.ui-multiselect--optgroup-wrap{width:100%;}
.explore-data .tab-content .ui-multiselect--list li.ui-multiselect--optgroup-wrap label{font-weight:normal;}



/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
    /* max-height: 450px; */
    max-height:calc(620px - 75px);
}
.full-data-view .scroll-wrapper{
    max-height:calc(620px - 50px);
}
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding:10px 20px 0 0;
    position: relative !important;
    top: 0;
    width: auto !important;
    scroll-behavior: smooth;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scroll-element {
    display: none;
}

.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 0px;
    top: 0;
    width: 5px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }


/******************* JANOS SCROLLBAR *******************/

.scrollbar-janos > .scroll-element,
.scrollbar-janos > .scroll-element div
{
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-janos > .scroll-element div {
    background-color: transparent;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-janos > .scroll-element.scroll-x {
    border-top: 1px solid #AAAAAA;
    bottom: 0;
    height: 16px;
    left: 0;
    min-width: 100%;
    width: 100%;
}

.scrollbar-janos > .scroll-element.scroll-y {
    border-left: 1px solid #AAAAAA;
    height: 100%;
    min-height: 100%;
    right: 0;
    top: 0;
    width: 16px;
}

.scrollbar-janos > .scroll-element .scroll-element_corner {
    display: none;
}

.scrollbar-janos > .scroll-element.scroll-x,
.scrollbar-janos > .scroll-element.scroll-x .scroll-bar {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAPCAYAAADd/14OAAAAS0lEQVR42qzQywkAIAxEQQPpvwn7E/EDESXREt7BHPY0sEvE3XMCpyJiwIW+mBR2Civa+BVGhOuLQt/TaHWncFBoFC4KN4WHwCvAAHI/GzHvcCTCAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
}
.scrollbar-janos > .scroll-element.scroll-x .scroll-bar {
    box-shadow: 0 1px 2px, 0 -1px 1px rgba(255, 255, 255, 0.8);
}
.scrollbar-janos > .scroll-element.scroll-y,
.scrollbar-janos > .scroll-element.scroll-y .scroll-bar {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAAAXNSR0IArs4c6QAAAEtJREFUKM/ty00Kg0AAQ+Ev3v8W3k/8qWipzLiYFrqR7osPsknyUkrpk2xYsWDCWGsdMCaZ3/0DO5544eg08pVWJJ/tkp+HW/4L+QSzjxQbWJrRJQAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
}
.scrollbar-janos > .scroll-element.scroll-y .scroll-bar {
    box-shadow: 0 1px 2px, 0 -1px 1px rgba(255, 255, 255, 0.8);
}

.scrollbar-janos > .scroll-element.scroll-x .scroll-element_track {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAXklEQVR42mJkYGBIZcAO/iPR/1iAxG8CisAYpPAnsQp/EGE1XoUoiklS+J0BPwArJmQiA7FWoyj8hUXiH7oArnBE9ghc4S9irf5NrMI/xFr9hwgTwQr/4TMJBgACDABrOConte5OAgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
}
.scrollbar-janos > .scroll-element.scroll-y .scroll-element_track {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAC9vt6cAAAAAXNSR0IArs4c6QAAAFNJREFUKM/FzksKgDAMBNDX3NT7X8BaC25clBKw4sKBgYTMJwUbGurAfWLFcbPhREcPBEpC05ztqXkUPyKS5LJqHj9YaU11sdgarw+LKF8D/B9wAWL/DzbaLOVxAAAAAElFTkSuQmCC);
    background-repeat: repeat-y;
}
.scrollbar-janos > .scroll-element.scroll-x .scroll-bar .scroll-bar_body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAYAAADAp4fuAAAAMklEQVR42mL4DwRnz579zwAEMDYTiLN7924GGACxmRiwAEoFV6xYwSAvLw/mwNgAAQYAEz0X3c1VmrwAAAAASUVORK5CYII=);
}
.scrollbar-janos > .scroll-element.scroll-y .scroll-bar .scroll-bar_body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAFCAYAAACJmvbYAAAAAXNSR0IArs4c6QAAAChJREFUCNdj/P///38GLGDFihUMLOfOnWPYvXs3hqS8vDwDXsBItrEA28oV4/a4edAAAAAASUVORK5CYII=);
}
.scrollbar-janos > .scroll-element.scroll-x .scroll-arrow_less {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAj0lEQVR42mJgwA4EgVgbRP///58BhJmwKFIwNTW1AEpGANlSMEEWNFOkNm/ebObj42MHZLMDsSi6QpApmqdOnbICspWxuQWkUPTYsWOOlpaWMFOwAiYGIgFI4WsrK6v9ZmZmq4Dsu4RMfHD69OkTjIyMK7Zs2bIbyP9JjC0gj3kCg6cZFJawcGQgNsABAgwAc40zrttfic8AAAAASUVORK5CYII=);
    box-shadow: 0 1px 2px, 0 -1px 1px rgba(255, 255, 255, 0.8);
}
.scrollbar-janos > .scroll-element.scroll-x .scroll-arrow_more {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAh0lEQVR42mL4//8/AwgDgSAQa0NpDMCExJYCaogwNTW1ALIVMFQimegApJcB8fzNmzcnopvOhMUWdh8fH1d007EphAHlU6dOhR07dswRyBbFpxAFsOCRu2tmZnbs9OnT14Hs19gU/tyyZcshX1/fU0D2MyB+j+5rbSDdDPSAJ6HgwRvgAAEGAC2sRKFV1v+TAAAAAElFTkSuQmCC);
}
.scrollbar-janos > .scroll-element.scroll-y .scroll-arrow_less {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAjklEQVR42mJgwASiUIwCGNH4CseOHXMEMaysrPYDqQdYDGIQNDU19fz///98EAaxQWLYTNQGKogA0spQ/l1GRsYVQPoqiMMEs3Lz5s1mSIpAQBkqpgAzEWSlxalTp8KAbHY05/w0MzNbdfr06ROMWKxEB2AnMEIdLIUtSKDgNRA/YwSaxkAMYGIgEgAEGADQpyzNaQf+BAAAAABJRU5ErkJggg==);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.scrollbar-janos > .scroll-element.scroll-y .scroll-arrow_more {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAg0lEQVR42mL8//8/AzGAiYFIwAjEgkAsBcSiONS8BuJnLCBFQOsjgLQyDoV3GRkZV4CsfmZmZnYMSP/EougnVO4ZSOH706dPX9+yZcshdFUgMZAcSA0jkrg2mhPAVgLpq+i+RnYC3EpkXyMDhWPHjjmCGFZWVvuB1AN8QSaKLagAAgwAkYkwicybOCoAAAAASUVORK5CYII=);
}

.scrollbar-janos > .scroll-element .scroll-arrow,
.scrollbar-janos > .scroll-element .scroll-bar_body {
    background-position: center;
    background-repeat: no-repeat;
}

.scrollbar-janos > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.scrollbar-janos > .scroll-content.scroll-scrollx_visible { top:  -17px; margin-top:  17px; }

/* scrollbar arrows */

.scrollbar-janos > .scroll-element .scroll-arrow { display: none; }
.scrollbar-janos > .scroll-element.scroll-element_arrows_visible .scroll-arrow { display: block; z-index: 12; }

.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_less { height: 100%; width: 16px;}
.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-arrow_more { height: 100%; left: auto; right: 0; width: 16px;}

.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_outer { left: 16px; }
.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_track { left: -32px; }
.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible .scroll-element_size { left: -33px; }

.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_less { width: 100%; height: 16px;}
.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-arrow_more { width: 100%; top: auto; bottom: 0; height: 16px;}

.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_outer { top: 16px; }
.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_track { top: -32px; }
.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible .scroll-element_size { top: -33px; }

/* if another scrollbar is visible */

.scrollbar-janos > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -17px; }
.scrollbar-janos > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -17px; }

.scrollbar-janos > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_inner { left: -17px; }
.scrollbar-janos > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_inner { top: -17px; }

/* if arrows & another scrollbar are visible */

.scrollbar-janos > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_corner,
.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_corner {
    border-top: 1px solid #AAAAAA;
    bottom: 0;
    display: block;
    height: 16px;
    left: auto;
    right: 0;
    top: auto;
    width: 16px;
    z-index: 13;
}

.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-arrow_more { right: 17px;}
.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-element_track { left: -50px;}
.scrollbar-janos > .scroll-element.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible .scroll-element_size { left: -51px;}


.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-arrow_more { bottom: 17px;}
.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_track { top: -50px;}
.scrollbar-janos > .scroll-element.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible .scroll-element_size { top: -51px;}

/*--------- SCROLLER DESIGN DONE ----------*/


.list1{list-style: none; margin:0px; padding:0px;}
.list1 li{float: left; width:100%; margin-bottom:15px; font-size:13px;}
.list1 li.district_group,
.list1 li.variable_group {width:100%; color:#797979; font-size:16px; font-family:'OpenSansSemibold'; line-height:15px; padding-bottom:10px; border-bottom:1px solid #b5b5b5; text-transform:uppercase; margin-top:10px; font-weight:normal;}
.list1 li.variable_group label{font-size:16px; margin:0;}

.industryLevelList{}
.industryLevelList li{width:50%;}


.popup_alert .list1 li{width:50%;}


#variables .list1 li{width:100%;}
#variables .list1 li.customvariable_group label{font-size:18px;}
.title-sector{color:#797979; display: inline-block; width:100%; padding-bottom:10px; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.title-sector [class*="col"] {padding: 0;}
.title-sector h3{display:inline-block; font-size:16px; text-transform:uppercase; line-height:15px; font-family:'OpenSansSemibold'; font-weight:normal; margin:0px; vertical-align:middle;}
.list3 ul{list-style: none; margin:0px; padding:0px;}
.list3 li{float: left; width:33.33%; margin-bottom:15px;}

.list2 ul{list-style: none; margin:0px; padding:0px; display:inline-block; width:100%;}
.list2 li{float: left; width:100%; margin-bottom:15px;}

#tabvariables .col-md-2{padding:0}

.tab-pane .addcustomvariable{width:100%; float: none; text-align: center; display: inline-block; color:#2a3542; font-size:13px; text-transform:uppercase;}
.tab-pane .addcustomvariable i{color:#2a3542; font-size:35px; margin-bottom:3px; display:block;}

.var_ul{list-style:none; margin:15px 0px 0px; text-align: center;}
.var_ul li a{width:27px; height:27px; display: inline-block; background:url(../images/icon-demographics.png) no-repeat; overflow:hidden; text-indent:-8888px; margin-bottom:10px;}
.var_ul li a:hover{background-position:0 -27px;}

.var_ul li a.demographics{background-image:url(../images/icon-demographics.png);}
.var_ul li a.hh_size_and_usage{background-image:url(../images/icon-hhsize-usage.png);}
.var_ul li a.hh_basic_amenities{background-image:url(../images/icon-amenties.png);}
.var_ul li a.hh_light_and_fuel{background-image:url(../images/icon-light-fuel.png);}
.var_ul li a.agricultural{background-image:url(../images/icon-agricultural.png);}
.var_ul li a.financial_services{background-image:url(../images/icon-financial-services.png);}
.var_ul li a.commercial_use_of_premises{background-image:url(../images/icon-commercial-use.png);}
.var_ul li a.registered_active_companies{background-image:url(../images/icon-registered-companies.png);}
.var_ul li a.social_use_of_premises{background-image:url(../images/icon-social-use.png);}
.var_ul li a.media_ownership{background-image:url(../images/icon-media-ownership.png);}
.var_ul li a.vehicle_ownership{background-image:url(../images/icon-vehicle-ownership.png);}
.var_ul li a.miscellaneous{background-image:url(../images/icon-miscelleneous.png);}

.var_ul li a.educational_institutions{background-image:url(../images/icon-educational-institutions.png);}
.var_ul li a.power_supply{background-image:url(../images/icon-power-supply.png);}
.var_ul li a.score{background-image:url(../images/icon-score.png);}
.var_ul li a.village_profile{background-image:url(../images/icon-village-profile.png);}



.explore-data .row .col-md-8 .full-data-view{padding:25px; width:calc(100% - 15px); position: relative;}
.full-data-view .popup_div{position:absolute; width:100%; height:100%; background:#fff; left:0px; top:0px;}
.full-data-view .popup_div .popup_inner{width:350px; height:160px; border:1px solid #c1c1c1; padding:20px; position:relative; top:50%; margin-top:-80px; left:50%; margin-left:-175px;}
.full-data-view .popup_div .popup_inner p{font-size:14px; color:#767676; line-height:18px;}
.full-data-view .popup_div .popup_inner .button-style{margin-top:35px; border-top:1px solid #c1c1c1; padding-top:20px;}
.full-data-view .popup_div .popup_inner .button-style a{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; font-weight:normal; display: inline-block; padding:10px 15px; font-size:14px; line-height:12px;}

#variables .col-md-11{float: left; width:calc(100% - 60px); padding:0;}
#variables .col-md-11 .scroll-wrapper > .scroll-content{padding-right:15px;}
#variables .scrollbar-inner > .scroll-element.scroll-y{right:5px;}
#variables .col-md-1{padding:0; width:60px; float: left;}
#variables .col-md-1 .custom-button{margin-bottom:10px;}
#variables .col-md-1 .custom-button a{color:#2a3542; text-transform:uppercase; font-size:13px;}
#variables .col-md-1 .custom-button a i{font-size:35px;}
#variables ul.icons-list {margin:0px; padding:0}
#variables ul.icons-list li{list-style: none; margin-bottom:8px; text-align: center;}
#variables ul.icons-list li a{background:#f1f2f6; width:27px; height:27px; border-radius:50%; display: inline-block; overflow:hidden; text-decoration:none;}
#variables ul.icons-list li .demographics-icon{background:url(../images/icon1.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .hh-size-icon{background:url(../images/icon2.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .hh-basic-icon{background:url(../images/icon3.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .hh-light-and-fuel-icon{background:url(../images/icon4.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .agriculture-icon{background:url(../images/icon5.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .financial-services-icon{background:url(../images/icon6.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .commercial-use-of-premises-icon{background:url(../images/icon7.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .registered-active-companies-icon{background:url(../images/icon8.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .social-use-of-premises-icon{background:url(../images/icon9.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .media-ownership-icon{background:url(../images/icon10.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .vehicle-ownership-icon{background:url(../images/icon11.png) no-repeat; width:100%; height:100%; display:inline-block; }
#variables ul.icons-list li .miscellaneous-icon{background:url(../images/icon12.png) no-repeat; width:100%; height:100%; display:inline-block; }



#variables ul.icons-list li a:hover{background:#be1f24;}
#variables ul.icons-list li a:hover span{background-position:0px -27px;}


.loader-div {position: absolute; top: 0; left: 0; bottom: 0; width: 100%; text-align: center; background:rgba(255,255,255,0.9); display: none; z-index:1;}
.loader-div img{position:relative; top:50%; margin-top:-24px;}



.fright{float: right}
.medialist .modal{position:relative; transition:0.3s}
.medialist .modal img{width:100%;}
.medialist .modal:before{position: absolute; content: ''; width:100%; height:100%; background:rgba(0,0,0,0.5) url(../images/icon-zoom.png) no-repeat center; background-size:30px auto; display: none;}
.medialist .modal:hover:before{display:block;}
.medialist .col-md-3{margin-bottom:30px;}

.osm-taskbar a.btn.btn-primary{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:10px 15px; font-size:14px; line-height:12px; border:none; box-shadow:none;}
.payment-box{max-width:800px; margin:0 auto; border:1px solid #ccc; border-radius:4px; background:#fff}
.payment-box .col-md-9{padding:15px;}
.payment-box .col-md-3{background:#fbfbfb; border-left:1px dashed #ccc; padding:50px 30px;}
.payment-box .col-md-3 img{opacity:0.2}
#bodyleftonly .payment-box h3{font-family: 'OpenSansBold'; font-size:16px;}

.item-page .box-white{background:#fff; padding:15px; color:#333;}
.item-page .box-white p{ color:#333;}

.box-white2{background:#fff; padding:35px 45px; color:#333; margin-bottom:30px;}
.box-white2 h2{font-size:32px;font-family: 'OpenSansBold'; font-weight:normal; color:#bf1f24; margin-top:35px;}
.box-white2 p{font-size:17px; color:#333333;}


.box-design-2{background:#fff;}
#mainbody .module.box-design-2 h3{padding:10px 0px 10px 20px; margin:0px; height: auto; border-bottom:1px solid #aaaaaa; margin-bottom:20px;}
#mainbody .module.box-design-2 .rsmsc_scroller_class{}
#mainbody .module.box-design-2 .rsmsc_scroller_class .innerDiv{width:100% !important; padding:0 20px;}

.teamlist .row{margin-bottom:20px;}
.teamlist img{width:100%;}
.teamlist h2{font-family:'OpenSansSemibold'; font-weight:normal; margin:0px 0px 10px; font-size:20px; color:#be1f24;}

a.download-btn{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:18px 30px; font-size:18px; line-height:12px; transition:0.3s}
a.download-btn:hover{text-decoration:none; background:#e84351;}

.cls_002{font-family:'OpenSansSemibold'; font-size:18px;}

.download-links{display: inline-block; width:90%; margin:0 5%; padding:15px 0px; }
.download-links a{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:18px 20px; font-size:16px; line-height:12px; transition:0.3s; width:48%; float: left; text-align: center; margin-left:4%;}
.download-links a i{margin-right:10px; font-size:20px; vertical-align:middle;}
.download-links a:first-child{margin-left:0px;}
.download-links a:hover{text-decoration:none; background:#e84351;}

table.casestudy_urban  th,
table.casestudy_rural  th,
table.casestudy_media  th{
    font-family: 'OpenSansSemibold';
    font-weight:normal;
}

#userForm{margin-top:25px;}
.query-form{background:#fff; padding:15px;}
.query-form .form-group{width:60%;}
.query-form .form-group label{width:100%; display: inline-block;}
.query-form .form-group input.inputbox{padding:0px 10px; height:35px; width:100%; background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}
.query-form .form-group textarea{background:#f4f4f4 !important; border:0px solid #e2e2e4 !important; width:100% !important; height:100px;}
.query-form .form-group.rsform-block-send label{display:none;}
.query-form .form-group.rsform-block-send input.rsform-submit-button{background:#be1f24; border-radius:2px; color:#fff; font-family:'OpenSansSemibold'; display: inline-block; padding:8px 30px; height:auto; font-weight:normal; font-size:16px; line-height:12px; transition:0.3s; width: auto; text-shadow:none; text-transform:uppercase;}

.address-box{background:#fff; padding:15px;}
.address-box-left,
.map-box{padding:15px 30px;}
#bodyleftonly .address-box-left h3{font-family: 'OpenSansSemibold'; font-weight:normal; margin:0px 0px 10px; font-size:16px; }

#osm-singup-page{}
#osm-singup-page .osm-page-title,
#osm-singup-page .osm-message {text-align: center;}
#osm-singup-page #os_form{max-width: 400px; margin: 25px auto; background: #fff; border: 0px solid #ddd; border-radius: 5px; padding: 30px;}
#osm-singup-page #os_form .control-group{}
#osm-singup-page #os_form .control-group .control-label{width:100%;}
#osm-singup-page #os_form .control-group .controls{width:100%; margin:0px;}
#osm-singup-page form.form-horizontal .control-label,
#osm-singup-page form.form-horizontal .control-label label{font-weight:normal;}
#osm-singup-page #os_form .control-group .controls input{padding:0px 10px; height:35px; width:100%; background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}

.input-prepend.inline-display{}

.header-leftpanel,
.header-rightpanel{padding:10px;}
.data-leftpanel ul{padding:10px; background:#fff; width:calc(100% - 10px); display:inline-block;}
.data-leftpanel ul li{height:auto !important;}
.data-leftpanel .exploredatalink a{height: auto;}
.rightpanel{padding-left:15px;}
.data-rightpanel ul{background:#fff; margin-bottom:10px;}
.data-rightpanel ul .data-label{font-family: 'OpenSansSemibold'; font-weight:normal;}

.menuwrapper .col-md-2{position: inherit;}
.menuwrapper .container{position:relative;}
.acc_link .module{display: inline-block; margin-left:15px;}
.searchbox { display: inline-block; width:calc(100% - 65px); float: none; margin: 0; position: inherit; border-left: 2px solid #fff; padding-left: 10px; margin-left:0px; }
.searchbox form { margin-bottom: 0; }
.searchbox form .search-icon-display i { font-size: 25px; vertical-align: middle;
    display: inline-block; color: #fff; }
.search {}
.search label.element-invisible{background:url("../images/search-icon.png") no-repeat scroll 5px center; border:0px solid #ffffff; box-shadow: none; color: #000000; padding:0 5px 0 20px; width:20px; height:25px; margin:0px; transition: all 0.3s ease 0s; cursor: pointer; vertical-align: middle;}
/* .search .inputbox.search-query  {border: 0px solid #ffffff; box-shadow: none; color:#fff; width: 20px; position: absolute; top:100%; right:0px; border-radius:5px; padding:0px; height: 0px;}
.search .inputbox.search-query:focus {background:#009bc0; border:1px solid #009bc0; box-shadow: none; color: #fff; font-weight: 300; margin-top: 5px; transition: all 0.3s ease 0s; width:300px; padding:5px 10px; height: auto;} */
.search button{display: none;}
.search-icon-display{cursor:pointer; width:30px; height:30px; display: inline-block; border-radius:50%; background:#8c0408; text-align: center; line-height:30px;}
#searchbox{ background: #ffffff; border: 2px solid #cccccc; left: 0; padding: 0; position: absolute; z-index: 1024; right: 0; width: 100%; display: none; top:45px;}
#searchbox .icon-search-inner {display: none; float: left; font-size: 18px; width:5%; text-align: center; color:#bbb; line-height: 38px;}
#searchbox input::placeholder {color:#E73932; }
#searchbox input.inputbox{float: left; width:96%; height:38px; border:0px; font-size:21px; background: #fff; color: #333; padding:0 15px; }
#searchbox .searchbox-close{float: left; width:4%; text-align: center; font-size: 25px; height: 38px; line-height: 38px; color: #fff; background-color: #E73932;}
#searchbox .searchbox-close i{cursor:pointer;}

/*-------- SEARCH PAGE DESIGN ----------*/
.search-result-page {margin-top: 25px;}
.search-result-page .searchintro{font-size: 25px; margin-top:20px;}
.search-result-page .searchintro p{margin-bottom:0px;}
.search-result-page .searchintro .badge{background:#8c0408;  font-family: 'OpenSansBold'; font-weight:normal; font-size:16px; line-height:22px; padding:3px 10px;}

.search-result-page .btn-toolbar{margin-bottom:10px; background: #fff; padding: 10px; margin-left:0px;}
.search-result-page .phrases-box{}
.search-result-page .radio{ padding: 0px 0 0px 20px; margin-top:0px; display: inline-block; margin-right: 30px;}

.search-result-page .checkbox {padding: 0px 0 0px 20px; margin-top:0px; display: inline-block; margin-right:30px;}
.search-result-page .checkbox input[type=checkbox],
.search-result-page .radio input[type=radio]{margin-left:0px; margin-top:0px; left:0px; top:5px;}

.search .search-result-page button{display: block; background:#be1f24; color:#fff; width:100px; height:40px;}
.search .search-result-page button .fa{margin-right:5px;}
.search-result-page .btn-toolbar input{height: 40px; width: 100%; padding: 0 10px; border: 0; background: #fff; font-size: 18px;}
.search-result-page .btn-toolbar .btn-group:first-child{width:calc(100% - 110px);}

.search .search-result-page h3{margin-top:15px; font-size:20px; margin-top:10px;  font-family: 'OpenSansBold';}

.odering_row{background:#fff; padding:10px 0; margin-top:15px; margin-bottom:35px; display: inline-block; width:calc(100% - 30px); margin-left:15px;}
.search-result-page .form-limit,
.search-result-page .counter{display: inline-block; margin-left:15px;}
.search-result-page .form-limit .chzn-container{min-width:60px;}

.search-result-page .phrases,
.search-result-page .only{padding-bottom: 5px; border-bottom: 1px dashed #ccc; margin-bottom: 10px;}

.searchblock{border-top:1px solid #ddd; padding-top:15px; margin-bottom:15px;}

.searchoptions{background:#fff; margin-top:10px; margin-bottom:10px; margin-left:0; margin-right:0; }

.search-results {background: #fff; padding: 20px;}
.search-results dt{ font-family: 'OpenSansBold'; font-weight:normal;}
.search-results .result-created{margin-bottom:20px;}
.search .search-results span.highlight{background:#E84351; padding:1px 0px; color:#fff; font-weight:normal;}

.pagination{background:#fff; padding:15px 0px; margin:10px 0px; width:100%;}
.pagination .pagination-list{margin:0px;}
.pagination a, .pagination span{padding:0px;}
.pagination .pagination-list li a{line-height:26px; text-align: center;}

#sessionKeeperWarning.hide.in,
#sessionKeeperExpired.hide.in{display: block !important; bottom:auto;}


.bannerarea{background:url(../images/bg-top.png) no-repeat center center; background-size:100% auto; max-height:200px; padding:20px 0px; color:#fff; font-size:16px;}
.bannerarea .user-img{width:150px; height:150px; border-radius:50%; overflow:hidden;}
.bannerarea h2{font-family: 'OpenSansBold'; font-weight:normal; font-size:30px; color:#fff; margin-bottom:5px; margin-top:30px;}

.userwrapper{background:#fff;}
.userwrapper .left-usermenu{width:70%; float:left; padding:10px 0px;}
.userwrapper .right-usermenu{width:30%; float:left; text-align:right; padding:10px 0px;}

.exploredata-page .userwrapper{background:#f1f2f6;}

.userwrapper .right-usermenu ul.nav{display:inline-block; padding-left:30px; border-left:1px solid #666666;}

.userwrapper .left-usermenu ul li,
.userwrapper .right-usermenu ul li{display: inline-block; margin:0px 25px;}
.userwrapper .left-usermenu ul li:first-child,
.userwrapper .right-usermenu ul li:first-child{margin-left:0px;}
.userwrapper .left-usermenu ul.nav > li > a,
.userwrapper .right-usermenu ul.nav > li > a{line-height:16px; padding:10px 0px 10px 25px; color:#666666;}

.userwrapper .left-usermenu ul.nav > li:nth-child(1) a{background:url(../images/icon-dashboard.png) no-repeat center left; }
.userwrapper .left-usermenu ul.nav > li:nth-child(2) a{background:url(../images/icon-subscription.png) no-repeat center left; }
.userwrapper .left-usermenu ul.nav > li:nth-child(3) a{background:url(../images/icon-users.png) no-repeat center left; }
.userwrapper .left-usermenu ul.nav > li:nth-child(4) a{background:url(../images/icon-workspace.png) no-repeat center left; }

.userwrapper .right-usermenu ul.nav > li:nth-child(1) a{background:url(../images/icon-user-view.png) no-repeat center left; }
.userwrapper .right-usermenu ul.nav > li:nth-child(2) a{background:url(../images/icon-signout.png) no-repeat center left; }

.userwrapper .left-usermenu ul.nav > li:nth-child(1) a:hover,
.userwrapper .left-usermenu ul.nav > li:nth-child(1) a:focus{background:url(../images/icon-dashboard-active.png) no-repeat center left; }
.userwrapper .left-usermenu ul.nav > li:nth-child(2) a:hover,
.userwrapper .left-usermenu ul.nav > li:nth-child(2) a:focus{background:url(../images/icon-subscription-active.png) no-repeat center left; }
.userwrapper .left-usermenu ul.nav > li:nth-child(3) a:hover,
.userwrapper .left-usermenu ul.nav > li:nth-child(3) a:focus{background:url(../images/icon-users-active.png) no-repeat center left; }
.userwrapper .left-usermenu ul.nav > li:nth-child(4) a:hover,
.userwrapper .left-usermenu ul.nav > li:nth-child(4) a:focus{background:url(../images/icon-workspace-active.png) no-repeat center left; }

.userwrapper .right-usermenu ul.nav > li:nth-child(1) a:hover,
.userwrapper .right-usermenu ul.nav > li:nth-child(1) a:focus{background:url(../images/icon-user-view-active.png) no-repeat center left; }
.userwrapper .right-usermenu ul.nav > li:nth-child(2) a:hover,
.userwrapper .right-usermenu ul.nav > li:nth-child(2) a:focus{background:url(../images/icon-signout-active.png) no-repeat center left; }


.userwrapper .left-usermenu ul.nav > li > a:focus,
.userwrapper .left-usermenu ul.nav > li > a:hover,
.userwrapper .right-usermenu ul.nav > li > a:focus,
.userwrapper .right-usermenu ul.nav > li > a:hover{background:none; color:#be1f24;}

.osm-container{}
.osm-container .osm_title,
.osm-container .osm-page-title{text-align: center; font-size: 28px; text-transform: uppercase; color: #333333; margin-bottom:25px !important;}

.osm-container #osm_form,
.osm-container #osm_form_renew{background:#fff; padding:20px; margin-bottom:20px;}
.osm-container #osm_form .tab-content{background:#f8f8f8; padding:20px;}

.osm-container #osm_form .nav-tabs{border:0px;}
.osm-container #osm_form .nav-tabs > li > a{font-size:15px; border:none; font-family: 'OpenSansSemibold';}
.osm-container #osm_form .nav-tabs > li.active > a,
.osm-container #osm_form .nav-tabs > li.active > a:focus,
.osm-container #osm_form .nav-tabs > li.active > a:hover{background: #f8f8f8; border-top: 0; border-left: 0; border-right: 0;}
.osm-container #osm_form .nav-tabs > li.active > a{font-family: 'OpenSansBold';}

.osm-container .osm-form-heading{font-size:20px; font-family: 'OpenSansSemibold'; margin-bottom:15px;}
.osm-container .control-label{margin:0px; padding:0px;}
.osm-container .form.form-horizontal .control-label label,
.osm-container form.form-horizontal .control-label{font-family: 'OpenSansSemibold'; font-weight:normal;}
.osm-container .form-actions{background:none; border:0px;  padding-bottom:0px;}
.osm-container .form-actions .btn.btn-primary{background:#be1f24; box-shadow:none; border:0px;}

.osm-container #osm_form_renew .osm-renew-options{margin:0px; padding:0px}
.osm-container #osm_form_renew .osm-renew-option input{margin:0px 10px 0px 0px; vertical-align:middle;}
.osm-container #osm_form_renew .osm-renew-option input[type=radio]:not(old){width:100%;margin:0;padding:0;opacity:0; position: absolute;}
.osm-container #osm_form_renew .osm-renew-option input[type=radio]:not(old) + label{display:inline-block; background:url('../images/red-checks.png') no-repeat 0 -3px; height:20px; word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; width:100%; color: #797979;  font-size: 16px; font-family: 'OpenSansSemibold'; margin-top: 5px; padding-left:30px;}
.osm-container #osm_form_renew .osm-renew-option input[type=radio]:not(old):checked + label{background-position:0 -50px;}
.osm-container #osm_form_renew .form-actions{padding-left:0; padding-top:0;}

.osm-container .table{border:0px; border-radius:0px; }
.table-striped tbody > tr:nth-child(2n+1) > td,
 .table-striped tbody > tr:nth-child(2n+1) > th{background:#fff; padding:10px;}
 .table-striped thead > tr > th{background:#e84351; color:#fff; border-bottom:0px; font-family: 'OpenSansSemibold'; font-weight:normal; padding:10px}

.planpanel{background:#fff; max-width:700px; margin:0 auto; border:1px solid #be1f24;}
.planpanel .nav{border:0px;}
.planpanel .nav li{width:33.33%; text-align: center; font-size:20px; font-family: 'OpenSansSemibold';}
.planpanel .nav li a,
.planpanel .nav li a:focus,
.planpanel .nav li a:hover{color:#fff; background:#be1f24; border:0; margin:0px; border-radius:0px;}
.planpanel .nav li.active a{background:#fff; color:#be1f24}

.planpanel .osm-item-wrapper{width:33.33%; float:left; text-align: center; min-height:300px; color:#be1f24}
.planpanel .osm-item-wrapper .osm-item-title{ font-size:16px; font-family: 'OpenSansBold'; text-transform:uppercase; color:#be1f24; margin-top:20px; margin-bottom:30px;}
.planpanel .osm-item-wrapper ul{list-style:none; font-family: 'OpenSansSemibold'; margin:0px; padding:0px;  margin-bottom:35px;}
.planpanel .osm-item-wrapper ul li{line-height:16px; margin-bottom:12px;}
.planpanel .osm-item-wrapper .buynow_btn button{ min-width:120px; background:#be1f24; box-shadow:none; border:0px; height:auto; color: #fff; padding: 8px 10px;}

.full-data-view .showresultbody,
.full-data-view .mod_mica{width:100%; background:none;}
.full-data-view .contenttoggle1,
.full-data-view .contenttoggle2,
.full-data-view .contenttoggle1 .activecontent{width:100% !important; background:none;}
.full-data-view .jsscrollss,
.full-data-view .jspContainer,
.full-data-view .jspPane,
.full-data-view .jspHorizontalBar .jspTrack{width:100% !important;}

.full-data-view .jspHorizontalBar .jspTrack{background-repeat:repeat-x;}

.full-data-view tr.firsttableheader td{/* background:#2a3542 !important; */ background:#be1f24 !important;}
.full-data-view tr.secondtableheader td {/* background-color:#2a3542 !important; */  background:#be1f24 !important; color: #fff !important;  font-size: 12px;}
.full-data-view tr.thirdtableheader td {/* background-color:#2a3542 !important; */  background:#be1f24 !important; color: #fff !important;}
.full-data-view table.draggable tbody tr td{/* background:#e04b4f; color:#fff; */ background:#eeeeee; color:#333; border-color:#fff;}
.full-data-view table.draggable tr:hover td,
.full-data-view table.draggable tr:hover.firsttableheader td{background:#c43337 !important; border-color:#fff;}

.full-data-view table.draggable tr.data_align:hover td{background:#ddd !important;}

.full-data-view table.draggable tbody tr.data_align td{text-align: right;}
.full-data-view table.draggable tbody tr.data_align td:first-child{text-align:left;}

.full-data-view table.draggable tbody tr.thirdtableheader td{text-align:right;}


.full-data-view .right_arrow{color:#fff !important;}

.full-data-view div.micacomponentblock .collpsable{display: none;}
.full-data-view .jspHorizontalBar{height:8px;}
.full-data-view .jspHorizontalBar .jspDrag{background:#555;}
.full-data-view .jspVerticalBar{width:8px;}
.full-data-view .jspVerticalBar .jspDrag{background:#555;}

.button-area{margin-bottom:10px;}
.button-area a,
.button-area a:link,
.button-area a:visited {background: #be1f24; color: #fff; padding: 6px 10px; display: inline-block; border-radius:2px; float: none; margin-right:3px;}
.button-area a i{margin-right:5px; font-size:15px;}

.button-area a.saperator{padding:6px 10px !important;}
.button-area a.active{background:#8c0408 !important; font-weight:normal;}


a#alldata, a#compare{color:#fff !important;}

.full-data-view .activecontent{width:100%;}
.full-data-view div.olMap{width:100% !important; margin:0px; }
.full-data-view .showresultbody .breadcrumb{display: none;}

#summary_data .white_content2{height:auto; border-color:#be1f24; border-radius:0px; box-shadow:none;}

.full-data-view .summarydata{}
.full-data-view .summarydata .contentblock{width:100%; }
.full-data-view .summarydata .contentblock .contenthead{font-size:13px; font-family: 'OpenSansBold'; background:#f5f5f5;display:inline-block; width:100%; padding:8px 10px; margin-bottom:10px;}
.full-data-view .contentblock .contenthead .addcustomvariable{background:url(../images/icon-plus.png) no-repeat; width:22px; height:22px; font-size:0px;}
.full-data-view div.leftgrpimg{background:url(../images/icon-list.png) no-repeat center; height:24px;}
.full-data-view div.rightgrptext{line-height:25px; font-size:13px; margin: 0; text-align: center;}
.full-data-view div.blockcontent ul.custom_ver .customvariable_name{width:50%:;}
.full-data-view div.blockcontent ul.custom_ver .customvariable_select{width:50%; text-align:right;}
.full-data-view div.blockcontent ul.custom_ver li div.customvariable_name{ font-size:13px;line-height:25px; }
.full-data-view .customvariable_select{line-height:25px;}
.full-data-view div.blockcontent ul.custom_ver li{width:100%}
.full-data-view .frontbutton{}
.full-data-view .frontbutton input[type=button]{background: #be1f24; box-shadow: none; border: 0px; font-size: 13px; font-weight: normal; padding: 8px 10px; height: auto;}
.full-data-view .blockcontent ul.allworkspace li{width:100%;}
.full-data-view .blockcontent li label,
.full-data-view .blockcontent ul.allworkspace li a {font-size: 13px; line-height: 25px;}

.exploredata-page .contentblock{width:100%}
.exploredata-page .contentblock .contenthead{font-family: 'OpenSansSemibold'; margin-bottom:10px;}
.exploredata-page .blockcontent.newworkspace input.inputbox{padding:0px 10px; height:35px; margin:0; width:calc(100% - 70px); background:#f4f4f4; border-color:#e2e2e4; box-shadow:none;}
.exploredata-page .blockcontent.newworkspace .frontbutton{width:70px; height:35px; line-height:35px; background:#be1f24; color:#fff; font-size:13px; border-radius:0px 3px 3px 0px;}

.top-filter-sec{display:inline-block; width:100%;}
.top-filter-sec .fl_title{/*width:15%;*/ float:left; width:70%;}
.top-filter-sec .fl_type{/*width:85%;*/ float:right;}
.top-filter-sec .fl_type ul {margin:0px; padding:0px;}
.top-filter-sec .fl_type ul li{list-style:none; display: inline-block; margin-right:15px;}
.top-filter-sec .fl_type ul li input{vertical-align:middle; margin:0 2px 0 0;}
.top-filter-sec .fl_type ul li label{vertical-align:middle;}


.top-filter-sec .fl_type .filterpopup ul li{margin-right:0px;}

.top-filter-sec .fl_type.fl_right ul{float: right}
.top-filter-sec .fl_type.fl_right ul li a{background: #be1f24; box-shadow: none; border: 0px; font-size: 13px;  font-weight: normal;  padding: 8px 10px;   height: auto; color:#fff; border-radius:2px}

.filters-list{list-style: none; margin:15px 0 0;}
.filters-list li{display: inline-block; margin-left:2%; width:31%; vertical-align:middle}
.filters-list li:first-child{margin-left:0px;}
.filters-list li select{width:100% !important; border: 1px solid #ccc; padding: 10px !important; height: auto}
.filters-list li select[multiple]{width: 100% !important; height: 90px !important; }
.full-data-view div.mod_mica div.speedometer select#speed_region.inputbox,
.full-data-view div.mod_mica div.speedometer select#speed_variable.inputbox{width:100% !important; height:auto !important; border: 1px solid #ccc;}
.filters-list li .frontbutton{float:left;}

#spedometer_region{width:100% !important;}
.full-data-view #exportchartbutton.exportbtn input.button,
.full-data-view #showchart input.button{background: #be1f24 !important; color: #fff; padding:6px 15px; display: inline-block; border-radius: 2px; height: auto !important; font-size: 13px;font-weight: normal; line-height: normal !important; margin:0px;}
.full-data-view #showchart input.button{width:100% !important; padding:6px 10px;}
.full-data-view .chart_type label{width:100px; line-height:25px;}
.full-data-view .chart_type select{width:calc(100% - 105px) !important;}
.showchartbtn.col-md-3{padding:0px;}

#map #options{width:100%;}
#map #options.frontbutton {float: right; width: auto; margin: 0 10px;}
#map #fullscreen{margin-right:10px;}

body .white_content,
body .white_content2 {border: 1px solid #000; border-radius: 0px;  box-shadow: none;  top: 20%; background: #fff; padding:15px;}
body .white_content2 div.poptitle,
body .white_conten div.poptitle{ font-size: 18px; font-family: 'OpenSansBold';  font-weight: normal;  margin-bottom: 15px;  background: #fff;  margin: 0px 0px 15px; color:#be1f24;}

body .white_content2 ul{margin:0px;}
body #light1007.white_content2 ul li{width:100%; float: left; margin-bottom:10px;}
body #light1007.white_content2 ul li input{margin:0px 10px 0px 0px;}
body #light1008.white_content2 ul li{width:100%; float: left; margin-bottom:10px;}
body #light1008.white_content2 ul li input{margin:0px 10px 0px 0px;}

body .white_content2.large-popup{width:60%; left:20%;}
body .blockcontent ul.allworkspace{margin-left:0px;}
body .blockcontent ul.allworkspace li {width: 46%; padding: 10px; background: #f8f8f8 !important; margin-bottom: 10px; margin-right: 2%; border-radius: 2px;}
body .blockcontent ul.allworkspace li:hover{background:#ededed !important;}

body .white_content2.alert-variable{top: 0; left: 0; height: 100%; width: 100%; position: absolute; margin-left: 0; margin-top: 0; background: rgba(255,255,255,0.8); border:0;z-index: 1;}
body .white_content2.alert-variable .popup_alert{width:50%; max-width:400px; position:relative; top:10%; left:50%; margin-left:-200px; background:#fff; border: 1px solid #000; padding:15px;}
body .white_content2.alert-variable .popup_alert .box-white{padding:0 20px 0 0;}
body .white_content2.alert-variable .popup_alert .list1{display: inline-block; width:100%;}
body .white_content2.alert-variable .popup_alert .list1 li i{margin-right:5px;}

.btn-submit,
.btn-submit:link,
.btn-submit:visited{background:#ba171b; color:#fff; padding:6px 15px; border-radius:2px; cursor:pointer !important; height: 35px;
    width: 150px; }
.btn-submit i{margin-right:5px;}


body #light3.white_content2,
body #light4.white_content2,
body #light5.white_content2,
body #light6.white_content2,
body #light7.white_content2,
body #light8.white_content2,
body #light9.white_content2,
body #light10.white_content2,
body #light11.white_content2,
body #light12.white_content2,
body #light13.white_content2,
body #light14.white_content2,
body #light15.white_content2,
body #light16.white_content2{height:auto; top:35%;}

.profile{}
.profile fieldset{background:#fff; padding:25px 25px 15px; max-width:600px; margin:0 auto;}
.profile fieldset + .page-header{display: none;}
.profile fieldset + .page-header + fieldset{display: none;}
.profile .footer-button{background:#fff; padding:0 20px 20px; max-width:600px; margin:0 auto;}
.profile .footer-button .btnsubmit{background:#be1f24; box-shadow:none; border:0px; padding:5px 15px; height:auto; font-weight:normal; text-shadow:none; width:auto; font-size:13px;}
.profile .footer-button .btncancel{background:#666; box-shadow:none; border:0px; padding:5px 15px; display: inline-block; height:auto; font-weight:normal; text-shadow:none; width:auto;  color:#fff; line-height:26px; font-size:13px;}
.profile.form-horizontal .control-group {width: 80%; margin: 0 auto 18px;}
.profile.form-horizontal .control-group .control-label{text-align:left}
.profile.form-horizontal .control-group .controls input{width:100%;}
.profile .footer-button .controls{position: relative; left:11%;}

.button-area-2{text-align:right;}
.button-area-2 div{display: inline-block; vertical-align: middle}
.button-area-2 div#exportchartbutton{float:none;}

.dist-icon-list{ text-align:center;}
.dist-icon-list ul {list-style:none; margin:0; padding:0px;}
.dist-icon-list ul li{margin-bottom:5px;}
.dist-icon-list ul li a,
.dist-icon-list #statecode a{background:#f1f2f6; width:40px; height:40px; display: inline-block; border-radius:50%; color:#797979; line-height:40px; margin-bottom:3px;}
.dist-icon-list ul li a:hover,
.dist-icon-list #statecode a:hover,
.dist-icon-list #statecode a:active{background:#be1f24; color:#fff;}

.dist-icon-list #subdistrictcode a{background:#f1f2f6; width:40px; height:40px; display: inline-block; border-radius:50%; color:#797979; line-height:40px; margin-bottom:3px;}
.dist-icon-list ul li a:hover,
.dist-icon-list #subdistrictcode a:hover,
.dist-icon-list #subdistrictcode a:active{background:#be1f24; color:#fff;}

body .black_overlay{z-index:1024;}
.scroll_div{height:86%; overflow: auto;}

body #light .inputbox{background:none; border:1px solid #ccc;}
body .white_contentn{top: 35%; border: 1px solid #000; box-shadow: none; border-radius: 0; padding: 45px 15px 0; background-color: #fff; height:150px; width:20%; left:40%;}
body .white_contentn input.inputbox{background: #f4f4f4; width: 100%; height: auto; padding: 10px; margin-bottom:15px;}
body .white_contentn .frontbutton{float: left;}
body .white_contentn .frontbutton.readon{margin:0px; margin-right:3px;}
body .white_contentn .frontbutton input{background: #be1f24; padding: 5px 10px; height: auto; text-shadow: none; font-weight: normal; margin:0px;}
body .white_contentn .divclose{position:absolute; top:15px; right:15px;}

.slider .slick-prev,
.districtslider .slick-prev{background:url(../images/arrow-top.png) no-repeat; width:25px; height:15px; text-indent:-8888px; border:0px; margin-bottom:10px;}
.slider .slick-next,
.districtslider .slick-next{background:url(../images/arrow-bottom.png) no-repeat; width:25px; height:15px; text-indent:-8888px; border:0px; margin-top:10px;}

ul#selectdistrictgraph li {width: 48%; display: inline-block; margin-bottom: 8px;}
ul#selectdistrictgraph li input{margin:0 5px 0 0}

.padding-none{padding:0px;}

.right-scroll-div{height:580px; overflow:auto; }
.right-scroll-div.tableview{height:538px;}
body #matrixhead td{font-family: 'OpenSansBold'; font-weight:normal; padding:5px !important;}
body .matrix table td{font-size:13px; padding:5px;}
body .matrix table td:first-child{ padding:5px !important;}
body .matrix table td.frontbutton{width:100%; float:left; margin-bottom:15px !important;}
body #micaform .frontbutton input{width:100% !important; margin:0 !important;}

.exploredata-page .checkbox_list{}
.exploredata-page .checkbox_list ul{list-style:none;}
.exploredata-page .checkbox_list li{width:50%; float: left; margin-bottom:15px;}

body .fullscreentable{border: 1px solid #000; border-radius: 0px; box-shadow: none; background: #fff; padding: 15px;}
body .fullscreentable .col-md-4{width:30%;}

.scroller_quartiles_table{height:540px; overflow:auto;}
.topheader{margin-bottom:10px; height:auto !important;}
.topheader label{display: inline-block;}
.topheader ul{list-style: none; margin:0px; padding:0px; display: inline-block; margin-left: 25px; background: #fff;}
.topheader ul li {display: inline-block; margin-left:5px; min-width: 100px; padding: 5px 8px;}
.topheader ul li:first-child{margin-left:0;}

.button-style{}
.button-style input{background: #be1f24; box-shadow: none; border: 0px; font-size: 13px; font-weight: normal; padding: 8px 10px; height: auto; color:#fff;}

.variable_add_popup {}
.variable_add_popup ul.nav {border-bottom: 1px solid #be1f24;}
.variable_add_popup ul.nav li{float: left; margin-right:2px;}
.variable_add_popup ul.nav li a{background:#f5f5f5; color:#333;}
.variable_add_popup ul.nav li.active a{background:#be1f24; color:#fff;}
.variable_add_popup .list1 li{width:33.33%;}

.variable_add_popup .cacss tr th {background: #000; padding:5px 15px; border: 0; text-align:left;}
.variable_add_popup .cacss tr td {background: #f5f5f5; float: none; border-bottom: 1px solid #fff; padding: 8px 15px;}

.variable_add_popup .cacss tr:nth-child(even) td {background: #f5f5f5;}
.variable_add_popup .cacss tr:nth-child(odd) td{background: #ffffff;}

.variable_add_popup .deletecustomvariable{background:#be1f24; padding:5px 20px 20px; height:30px; font-weight:normal; font-size:13px;}
body #micaform .variable_add_popup .frontbutton input{margin-top:10px !important;}

body .white_content2.variable_add_popup {max-width: 650px; left: 50%; margin-left: -325px;}
body .explore-data .variable_add_popup .variable_custom_data{display: inline-block; width: 100%; height: calc(100% - 30px);}
body .explore-data .variable_add_popup .tab-content{padding:20px 10px; /* background:#f5f5f5; height:90%; */ width:100%}
body .variable_add_popup.white_content2 div.poptitle{background:none;}
body .explore-data .variable_add_popup .row{margin:0px;}


body .explore-data .cal_t{width:100%; background:#fff !important; padding:5px;}

/*added by hirin*/

.popupcheckall{padding-right:10px; float:left;}

.variable_custom_data{}
.variable_custom_data #menu2{}
.variable_custom_data #menu2 .col-md-12{margin-bottom:15px;}
.variable_custom_data #menu2 .col-md-12,
.variable_custom_data #menu2 .col-md-9,
.variable_custom_data #menu2 .col-md-7,
.variable_custom_data #menu2 .col-md-3,
.variable_custom_data #menu2 .col-md-2{padding:0px;}

.active.tab-pane{font-weight: normal;}

.variable_custom_data #menu2 .inputbox{width:100%; height:34px;}
.variable_custom_data #menu2 select{height:34px; width:96% !important;}
.variable_custom_data #menu2 input.btn {width: 100%; border-radius: 3px; box-shadow: none; font-size: 13px; padding: 6px 0; text-align: center;}
.variable_custom_data #menu2 #custom_numeric{width:96%;}
.variable_custom_data #menu2 label{margin-top:5px;}

.variable_custom_data #menu2 .cal_t input{margin: 3px; width: 92%; color: #fff; text-shadow: none; background: #e84351; box-shadow: none;border: 0;}
.variable_custom_data #menu2 textarea{width:100% !important; border:1px solid #ddd !important;}
.variable_custom_data #menu2 input.btn.btn-bottom {width: auto; padding: 6px 20px; background: #ba171b; border-color: #ba171b;}


.spedometer_sec{height:auto; max-height:450px;}

.potentio_data {max-width: 300px; margin-bottom: 25px; border: 1px solid #ddd; margin: 0 5% 25px; padding: 25px 0;}
.potentio_data > div{padding:0 10px;}
.potentio_data > div.potentio_meter{margin:0 auto !important; padding:0px;}

.filterpopup {width: 800px;left: 50%; margin-left: -400px;}
.popup-heading {background: #eee; color: #222;	padding: 10px 10px; margin-top: 20px;font-size: 18px;}
.popup-heading input {margin: 0 10px 0 0;}
.popup-heading label{font-size:17px; font-family: 'OpenSansBold' !important;}

.top-filter-sec .fl_type ul.checkboxlist-popup {padding: 10px 10px; width:100%;}

.top-filter-sec .fl_type ul.checkboxlist-popup input[type=checkbox]:not(old),
.top-filter-sec .fl_type ul.checkboxlist-popup input[type=radio]:not(old),
.layer .popup-heading input#metervariables_allcheck[type=checkbox]:not(old),
.Variable .popup-heading input#meterdistrict_allcheck[type=checkbox]:not(old){width:28px;margin:0;padding:0;opacity:0; position: absolute; height:18px;}

.top-filter-sec .fl_type ul.checkboxlist-popup input[type=checkbox]:not(old) + label,
.top-filter-sec .fl_type ul.checkboxlist-popup input[type=radio]:not(old) + label,
.layer .popup-heading input#metervariables_allcheck[type=checkbox]:not(old) + label,
.Variable .popup-heading input#meterdistrict_allcheck[type=checkbox]:not(old) + label{display:inline-block;padding-left:32px;background:url('../images/check-inactive.png') no-repeat; line-height:18px; word-break:break-all; vertical-align:middle; margin:0px; font-family: 'OpenSansRegular'; font-weight:normal;}

.top-filter-sec .fl_type ul.checkboxlist-popup input[type=checkbox]:not(old):checked + label,
.top-filter-sec .fl_type ul.checkboxlist-popup input[type=radio]:not(old):checked + label,
.layer .popup-heading input#metervariables_allcheck[type=checkbox]:not(old):checked + label,
.Variable .popup-heading input#meterdistrict_allcheck[type=checkbox]:not(old):checked + label{background:url('../images/check-active.png') no-repeat;}


.filterpopup .frontbutton {padding-bottom:25px;}

.filterpopup .filterbylabel {text-align: center; font-size:20px; color: #be1f24; margin-bottom:10px;}
.filterpopup .filterbylabel b{color:#444;}

.top-filter-sec .fl_title .filterbylabel{color: #be1f24;}
.top-filter-sec .fl_title .filterbylabel b{color:#444;}
.top-filter-sec .fl_title .filterbylabel .poptitle {font-size: 14px; font-weight: normal; color: #be1f24; display: inline-block; width: 85%; vertical-align: top; padding-left: 10px;}

body #micaform .frontbutton.btn-create {margin-right: 15px; position: relative;}
body #micaform .frontbutton.btn-create input{position: absolute; right: 0; width: 110px !important; border-radius: 3px; text-align: center;}
.graphpopup .variable_add_popup .list1 li {
    width: 50%;
    padding-right: 15px;
}

.secondtableheader td {vertical-align: top;}
.secondtableheader td span{display: inline-block; width:85%;}
.secondtableheader td a { display: inline-block;  width: 10%; text-align: right; vertical-align: top;  float: right;}

.btn-red {background: #be1f24 !important; color: #fff; padding: 6px 15px; display: inline-block; border-radius: 2px; height: auto !important; font-size: 13px; font-weight: normal; line-height: normal !important; margin: 0px; border:0;}
body #micaform .graphpopup .frontbutton.btn-create {margin-right: 30px;}
body #micaform .graphpopup .frontbutton.btn-create input{margin: 0 !important; top: -2px;}

/*------- GIS TAB DESIGN -----------*/
.gis{}
.gis .button-area {margin: 10px 0;}
.gis .button-area #options{width:auto; padding:7px 15px; float:right;}
.gis .button-area #options input{background: none; padding: 0;}
body #light_thematic.large-popup{max-width:1000px; width:100%; margin-left:-500px; left:50%; height: auto;}
#light_thematic .contentblock1,
#light_thematic .contentblock2,
#light_thematic .contentblock3{float: left; width:33.33%; margin:0;}

/*#light_thematic .thematicarea{max-width:300px; margin:0 auto;}*/
#light_thematic .thematicarea h3{font-size:18px; text-align:center;}
#light_thematic .thematicarea tr td {padding: 4px; font-size: 13px;}
#light_thematic .thematicarea select#thematic_attribute{width:100% !important;}
#light_thematic .thematicarea #no_of_interval{width: 100% !important; background: none; border: 1px solid #ccc;}

#light_thematic .thematicarea .simpleColorDisplay{width: 90% !important;}
#light_thematic .thematicarea .colorpickerbutton{width:18px !important; height:20px; border:0px; margin:0px;}

#light_thematic .thematicarea .readon{display: inline-block; margin-right:5px !important;}
#light_thematic .thematicarea .readon input {float: none; background: #be1f24; color: #fff; border: 0; padding: 5px 10px; width: auto !important; display: inline-block;}

div.olMapViewport{z-index:1;}


.sidebar-toggle-box{display: inline-block; vertical-align: middle; font-size:18px; cursor:pointer;}

.explore-data.expand{}
.explore-data.expand .left-section{width:90px; }
.explore-data.expand .left-section .leftcontainer{display: none;}
.explore-data.expand .right-section{width:calc(100% - 90px);}

.slick-vertical .slick-slide{position: relative;}
.tooltip-txt-box {position: relative; display: inline-block;}
.tooltip-txt-box .tooltiptext {position: absolute; left: 0; bottom: 100%; display: inline-block; background: #000; color: #fff; border-radius: 15px; padding: 5px 10px; left: 18px; z-index: 1024; font-size: 11px; width: 85px; margin-left: -44px; display: none; opacity:0; transition:0.3s; text-transform:capitalize;}
.tooltip-txt-box:hover .tooltiptext {display:block; opacity:1;}
.slick-slide.slick-current .tooltip-txt-box .tooltiptext{top:100%; bottom:auto;}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-200px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
     -webkit-animation-name: fadeInLeft;
     animation-name: fadeInLeft;
 } 

@-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(200px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
     -webkit-animation-name: fadeInLeft;
     animation-name: fadeInLeft;
 } 
 .fadeInRight {
     -webkit-animation-name: fadeInRight;
     animation-name: fadeInRight;
 } 

 /* animation-name: fadeInDown; */


.itemid-209 .bannerarea,
.itemid-209 .page-header{display: none;}



/* --------- REAPONSIVE MEDIA START ---------- */
@media (max-width:768px) {
    .menu_button{box-sizing:content-box;}
    .mobile_menu{padding:8px 0px;}
    .menuwrapper #sfmenu{display: none;}
    .menuwrapper .acc_link{position:absolute; right:15px; z-index:1024; margin-top:12px;}
    #searchbox{width:320px; left:auto; right:0px; top:50px;}
    #searchbox input.inputbox{width:88%;}
    #searchbox .searchbox-close{width:12%}
}

@media (max-width:499px) {
    .planpanel .nav li{font-size:15px;}
    .planpanel .nav li a,
    .planpanel .nav li a:focus,
    .planpanel .nav li a:hover{padding:10px 0px;}

    .planpanel .osm-item-wrapper{width:100%; margin-bottom:25px; min-height:inherit; padding-top:25px; border-top:1px solid #ccc;}
    .planpanel .osm-item-wrapper:first-child{border-top:0px;}

    #inner_mainbody .contentpaneopen div.list_profile ul li, .item-page div.list_profile ul li{
        width: 100%;
    }
    .download-links a{width:100%; margin:0 0 15px; }
}


@media (min-width:1280px) and (max-width:1440px){
    .tooltip-txt-box .tooltiptext{padding:3px 5px; left:5px; font-size:9px; width:60px; margin-left:-15px;}
}