/* CSS Document */
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
html {
	height: 100%;
}



select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
}

.clr {
	clear: both;
}

form {
  margin: 0;
  padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	font-family:OpenSans, Arial, Helvetica, sans-serif !important;
	line-height: 120%;
	font-size: 12px;
	color: #585859;

}



/* Joomla core stuff */
a:link, a:visited {
	color: #be1f24; text-decoration: none;
}

a:hover {
	color: #be1f24;	text-decoration: none;
}


.button {
  /*color: #FFF;
  font-family: OpenSans,Arial, Hevlvetica, sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  border: none;
  width: 51px;
  background: url(../images/login-btn1.png) no-repeat;
  padding: 0px 5px;
  line-height: 21px !important;
  cursor:pointer;
  text-shadow:2px 0px #000;
  margin: 1px;*/
}

.button_login {
  color: #c64934;
  font-family: OpenSans,Arial, Hevlvetica, sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  border: none;
  width: 51px;
  background: url(../images/login-btn.png) no-repeat;
  padding: 0px 5px;
  line-height: 23px !important;
  cursor:pointer;
  height: 23px !important;
  height: 24px;
  margin: 1px;
}
input.button_logout {color: #c64934;
 color: #FFF;
  font-family: OpenSans,Arial, Hevlvetica, sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  border: none;
  width: 51px;
  background: url(../images/login-btn1.png) no-repeat;
  padding: 0px 5px 5px 2px;
  line-height: 19px !important;
  cursor:pointer;
  text-shadow:2px 0px #000;
  margin: 1px;   height: 23px !important;}
img {
border:none;
}
input.inputbox{
	padding: 0px 9px 0px 6px;
	/*border:solid 1px #cccccc;*/
	background:url(../images/input-box.png) no-repeat;
	height:23px;
	width:158px;
	border:none;
	font-size:12px;
	font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif;
	box-shadow:none;
	margin:0px;

}

select#designation{ height: 24px;
    padding: 3px 2px 4px;}

select {  background: none repeat scroll 0 0 transparent !important;
    border:1px solid #ccc !important;
    /* height: 26px !important; */
     padding: 0 4px 7px 0 !important;
    width: 170px !important;
	font-size:12px !important;
	font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif;

	}

div.date-cal-cls img#date_img.calendar{vertical-align:middle; margin-top:-6px}
table.contentpane tbody tr td.s_bg { background: url("../images/input-box.png") no-repeat scroll left center transparent;
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 7px 9px 0 3px;
    width: 158px;}

#bd {
background:#ffffff;
Width:100%;
}

#main-wrapper {
margin:0 auto;
padding:0px;
width:960px;

}

#wrapper {
margin:0 auto;
padding:0px;
width:960px;

}

#header {
	margin:0 auto;
	padding:0px ;
	/* width:960px;
	height:116px; */


}
#inner_header{
margin:0 auto;
padding:0px ;
width:960px;
height:164px;
background:url(../images/inner-header.png) no-repeat;
  border-bottom:1px solid #e0e0e0;
}

#logo {
margin:20px 10px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
/*width:32%;*/
height:93px;

}

#inner_logo {
margin:30px 63px 0px 0px;
padding:0px 0px 0px 0px;
float:right;
/*width:32%;*/
height:79px;

}
#inner_logo a{ /* padding:0px 0px 0px 800px; */ padding:0 0 0 780px;  height:82px; display:block;}
.logo_img {
margin:0px;
padding:0px;
}

#logo h1 img {
float:right;
margin:0px;
padding:0px;

}







#mainmenu {
margin:0px;
/*padding:0px 0px 125px 0px;*/
padding:0px 0px 0px 0px;
width:100%;
float:left;

/*border-bottom:1px solid #FF6500;
*/
}
#mainmenu ul{margin:0px; padding:0px; list-style:none; margin-top:22px; margin-left:96px;}
#mainmenu ul li{float:left; list-style:none; padding-right:10px;}
#mainmenu ul li.item110{border-right:2px solid #bb4b4c;}
#mainmenu ul li.item111{border-right:2px solid #bb4b4c; margin-left:10px;}
#mainmenu ul li.item112{margin-left:10px;}
#mainmenu ul li a{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; color:#535353; font-size:14px; font-weight:normal; text-transform:uppercase;}
#mainmenu ul li a:hover{font-weight:normal !important;}

#mainbody {
margin:0px;
padding:0px;
width:100%;
}

#inner_mainbody {
margin:20px 0px 0px 0px;
padding:0px;
width:100%;
clear:both;
}

#leftcol {
margin:0px;
padding:0px;
float:left;
width:173px;

}

.contentpane{padding-left:8px;}
#leftcol ul{margin:11px 0px 0px 24px; padding:0px; list-style:none;width:100px; }
#leftcol ul li{border-top:1px solid #e4e4e4; padding:3px 0px;}
#leftcol ul li a{margin:5px 0px; font-weight:normal;}
#leftcol ul li a:hover{background:none;}

#bodyleftonly {margin:0px; padding:0px; float:left; width:597px;}
/* #bodyleftonly_rsform {margin:0px; padding:0px; float:left; width:785px;} */

#bodyleftregister {margin:0px; padding:0px; float:left; width:785px;}
#bodyonly{margin:0px 0px 0px 0px; padding:0px; width:960px; display:inline-block;}
#inner_mainbody .list_profile ul{color:#858585; margin:0px; padding:0px 0px 0px 12px; display: inline-block; width:100%;}
#inner_mainbody ul.dsource{list-style:disc;}
#inner_mainbody ul.dsource ul{list-style:disc;}
#inner_mainbody .contentpaneopen div.list_profile ul li,
.item-page div.list_profile ul li{color:#6A6A6A; background:url(../images/list_big_icon.png) no-repeat left center; background-size:15px auto ; padding-left:25px; float:left; width:33%; margin-bottom:10px; line-height:18px;}

#inner_mainbody .list_profile_sitemap ul{color:#858585; margin:0px; padding:0 0 0 4px; font-size:12px; list-style:none;}
#inner_mainbody .list_profile_sitemap ul li ul{padding:0px;}
#inner_mainbody .contentpaneopen div.list_profile_sitemap ul li,
#inner_mainbody .list_profile_sitemap ul li{color:#6A6A6A; background:url(../images/list_big_icon.png) no-repeat left center; background-size:15px auto ; padding-left:25px; float:left; width:33%; margin-bottom:10px; line-height:18px;}

#inner_mainbody .list_data_sources ul,
.list_data_sources ul{color:#858585; margin:0px; padding:0px 0px 0px 12px; }
#inner_mainbody .contentpaneopen div.list_data_sources ul li,
#inner_mainbody .list_data_sources ul li{color:#6A6A6A; background:url(../images/list_big_icon.png) no-repeat left center; background-size:15px auto ; padding-left:25px; float:left; width:100%; margin-bottom:10px; line-height:18px;}
#inner_mainbody .contentheading{color:#e63945; padding-bottom:5px; padding-top:5px;}
#inner_mainbody .contentpaneopen p{color:#6A6A6A; margin:0px 0px 10px 4px;}
#inner_mainbody .contentpaneopen ul.dsource li{color:#6A6A6A; background:url(../images/list_big_icon.png) no-repeat left center; background-size:15px auto ; padding-left:25px; float:left; width:33%; margin-bottom:10px; line-height:18px;}
#inner_mainbody .contentpaneopen ul{margin:0px; padding-left:4px; list-style:none; }
#inner_mainbody .contentpaneopen ul ul{margin:2px 0px; padding-left:0px; list-style:none;}
#inner_mainbody .contentpaneopen ul.dsource ul li{color:#6A6A6A; background:url(../images/list_big_icon.png) no-repeat left center; background-size:15px auto ; padding-left:25px; float:left; width:33%; margin-bottom:10px; line-height:18px;}


#inner_mainbody .method_area .methodbg{background:url(../images/method_bg_big.png) no-repeat; height:89px; }
#inner_mainbody .method_area .methodbg span{width:100px; color:#a12022; font-size:12px; margin:0px 4px;}
#inner_mainbody .method_area .methodbg p{margin:4px 0px 22px 5px; font-size:12px; width:245px; color:#585859;}
#inner_mainbody .method_area .methodbg1{background:url(../images/method_bg1_big.png) no-repeat; height:89px; width:252px;}
#inner_mainbody .method_area .methodbg1 span{width:100px; color:#a12022; font-size:12px;  margin: 2px 0 0 5px;}
#inner_mainbody .method_area .methodbg1 p{margin: 0 0 20px 5px; font-size:12px; width:245px; color:#585859;}
#inner_mainbody .method_area .methodbg2{background:url(../images/method_bg2_big.png) no-repeat; height:89px; width:252px;}
#inner_mainbody .method_area .methodbg2 span{width:100px; color:#a12022; font-size:12px; margin: 2px 0 0 5px;}
#inner_mainbody .method_area .methodbg2 p{margin: 0 0 20px 5px; font-size:12px; width:245px; color:#585859;}
#inner_mainbody .method_area .methodbg3{background:url(../images/method_bg_one.png) no-repeat scroll center top; height:81px; width:251px;}
#inner_mainbody .method_area .methodbg3 span{color:#a12022; font-size:12px; text-align:left; padding-left:3px;}
#inner_mainbody .method_area .methodbg3 p{font-size:12px; width:243px; text-align:left; color:#585859;}



#inner_mainbody .method_area .method{height:73px;padding-left:168px;}

#inner_mainbody span.usr_nm{color:#e63945; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;}
#inner_mainbody p.usr_det{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:11px; margin-top:5px; margin-bottom:0px;}
#inner_mainbody .user_profile{border-top:1px solid #dcdbdb; margin:5px 0px;}

#inner_mainbody ul .mime_team_content{margin:0px; padding:0px; list-style:none;}
#inner_mainbody ul.mime_team_content li{ padding:10px 0px; border-top:1px dashed #dcdbdb;}
#inner_mainbody .mime_team_content .user_img{float:left;}
#inner_mainbody .mime_team_content .user_nm{padding-left:70px; color:#e63945; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}
#inner_mainbody .mime_team_content .user_det{padding-left:70px; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:12px; margin-top:5px; margin-bottom:0px;}

input.validate,
button.validate{background: url("../images/login-btn2.png") no-repeat scroll 0 0 transparent; border:none; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:12px;line-height:26px; color:#fff;  text-shadow: 2px 0 #000000; font-weight:bold; width:60px; height:26px; margin-left:0px;}

#footer {
margin:29px 0px 0px 0px;
padding:0px;
width:100%;
background: url(../images/footer_bg.jpg) repeat-x top left; 
/*height:96px;*/
border-top:1px solid #c8c8c8;
clear:both;
}

#footer_left {
margin:0px 0px 0px 15px;
padding:0px;
width:50%;
float:left;
color:#585859;
font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif;

}

#footer_left p{margin:10px 0px; font-size:10px; font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif; font-weight:normal;}

#footer_right {
margin-top:11px;
margin-right:21px;
padding:0px;
/*width:28%;
*/float:right;
}
#footer_right .mainlevel{padding-left:10px; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-weight:normal; font-size:10px; color:#585859;}

#footer_menu {
margin:0px;
padding:0px;
width:100%;
text-align:center;
}

#footer_menu {
margin:0px;
padding:0px;
color:#787878;
font-size:11px;
line-height:30px;
}

#copyright {
margin:0px;
padding:0px;
/*width:100%;*/
font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif;
}

#dropmenu {
margin-top:5px;
padding:0px;
width:10%;
float:right;
background:url(../images/drop_arrow.jpg) no-repeat;
background-position:right;
}

#dropmenu a {
font-size:13px;
font-weight:bold;
color:#4D5383;
}




div.module-grey h3,
div.module-dark h3,
div.module-blue h3 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 13px;
	line-height: normal;
	color:#000000;

}


div.module-grey,
div.module-dark,
div.module-blank,
div.module-blue {
	margin: 0px 0 10px;
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
}


div.module-grey div, div.module div div,
div.module-dark div, div.module div div,
div.module-blue div, div.module div div  {
	padding: 0;
}


div.module-grey div div div,
div.module-dark div div div,
div.module-blue div div div {
	padding: 4px 10px 15px 8px;
}

div.module-blank div div div,
div.module-blue div div div {
	padding: 5px;
}


div.module-grey div div div div,
div.module-dark div div div div,
div.module-blank div div div div,
div.module-blue div div div div {
	margin: 0;
	padding: 0;
	float: none;
	background: none;
}




div.module-grey {
	background: url(../images/box-br-grey.gif) no-repeat bottom right #E6E6E6;
}

div.module-grey div {
	background: url(../images/box-bl-grey.gif) no-repeat bottom left;
}

div.module-grey div div {
	background: url(../images/box-tr-grey.gif) no-repeat top right;
}

div.module-grey div div div {
	background: url(../images/box-tl-grey.gif) no-repeat top left;
}




.componentheading {
	background: url(../images/subhead_bg.png) repeat-x;
	color: #E63945;
	text-align: left;
	padding-top: 4px;
	padding-left: 8px;
	height: 21px;
	font-weight: normal;
	font-size: 18px;
	line-height:21px;
	/*text-transform: uppercase;*/

}

#inner_mainbody fieldset p{margin:10px 0px;}

.contentcolumn {
	padding-right: 5px;
}

.contentheading {
	height: 24px;
	line-height:24px;

	color: #000000;
	font-weight: bold;
	font-size: 18px;
	width:100%;
	font-weight:normal;
	padding:0px 0px 0px 6px;
	margin:0px;
}

.contentpaneopen {
width:100%;
font-size: 14px;
}



.contentpagetitle {
	font-size: 13px;
	font-weight: bold;
	color: #cccccc;
	text-align:left;
}





#mainbox {
width:100%;
margin:0px;
padding:0px;
}

#mainleft {
float:left;
width:28%;
margin-top:4px;
}

#mainright {
float:right;
width:70%;
margin-top:4px;
}


/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	text-align:left;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
	padding: 0;
	margin: 0;
}

#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
	background: none;
	padding: 5px;
	height:25px;
	margin: 0;

	list-style-type:none;
}

/* System Standard Messages */
#system-message dd.message ul {
	background: #006699;
	border: none;
}

/* System Error Messages */
#system-message dd.error ul {
	background: #BF0000;
	border: none;
}

/* System Notice Messages */
#system-message dd.notice ul {
	background: #EE9600;
	border: none;
}

#system-message dt {
display:none;
}

#system-message dd {

margin:0px 0px 0px 0px;
padding:0px;
}

#system-message { margin:10px 5px 20px 5px; }

#system-message dd.message ul { background: #C0D2E8 url(../../system/images/notice-info.png) 4px center no-repeat;border-top: 3px solid #0099DD; border-bottom: 3px solid #0099DD; margin:0px; padding-left: 40px; text-indent:0px; color:#425563;}

/* System Error Messages */
#system-message dd.error ul { color: #425563; background: #C0D2E8 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #0099DD; border-bottom: 3px solid #0099DD; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Notice Messages */
#system-message dd.notice ul { color: #425563; background: #C0D2E8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #0099DD; border-bottom: 3px solid #0099DD; margin:0px; padding-left: 40px; text-indent:0px;}


.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

.logo_content{float:right; width:200px;padding-left:43px; padding-right:33px; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; color:#214f7f; background:url(../images/seperator.png) no-repeat scroll 0px 21px;margin-top:18px;}
.logo_content1{float:right; width:200px;padding-left:43px; padding-right:33px; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; color:#214f7f; margin-top:18px;}
#rightcol_login{float:right; padding:33px 45px 40px 0px; clear:both; width:502px;}

#rightcol_login .input label{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; color:#0c0c0c; line-height:28px;}
#rightcol_login ul{margin:0px; padding:0px; list-style:none; float:right; clear:both; margin-right:5px;}
#rightcol_login ul li{list-style:none; float:left;}
#rightcol_login ul li.fpass{padding-right:36px; margin-top:0px;}
#rightcol_login ul li.signup{padding-right:0px; text-transform:uppercase; margin-top:-2px;}
#rightcol_login ul li.signup a{ color:#e3292e; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;}
#rightcol_login ul li a{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal;}
#rightcol_login .input{border:none; padding-bottom:1px; float:right; margin-right:19px; line-height:27px;}

#body_content{background:url(../images/design_bg.png) no-repeat scroll center top; height:157px; width:960px; margin-top:0px; clear:both;}
#body_content p{margin-top:144px; float:right; padding-right:89px; font-size:11px; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; color:#214f7f;	}


#sfmenu{float:left; clear:both; margin-left:80px; text-transform:uppercase;}
#bredcum{float:right; width:248px; text-align:right;}
#bredcum span{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:10px; color:#787878;}
#bredcum a{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal;  }
#menus_area{margin:0px; padding:0px; width:100%; margin-top:12px; display:inline-block; }

#form-login span{font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#0c0c0c; line-height:27px;}

#leftcol ul li.active a{color:#0094d9;}
input:focus {outline: none;}

div.calendar td.button{background:none;}
.textarea_bg{background: url("../images/textarea-img.png") no-repeat scroll 0 0 transparent !important;
    height: 60px;
    padding-left: 5px;
    width: 170px;}
.textarea_bg_big{background: url("../images/textarea-img-big.png") no-repeat scroll 0 0 transparent !important;
    height: 152px;
    padding-left: 5px;
    width: 280px; margin-bottom:0px;}
textarea{  width:155px !important; border:none !important; overflow:hidden; padding-left:5px; padding-right:5px; background:none !important; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif !important; resize:none; font-size:12px;}
.textarea_bg_big textarea{  width:335px !important; height:135px !important; border:none !important; overflow:hidden; padding-left:5px; padding-right:5px; background:none !important; font-family:OpenSans,Calibri, Arial, Helvetica, sans-serif !important;}


#inner_mainbody .method_area .method_bgbig{background:url(../images/method_bg_big.png) no-repeat 0 0; height:89px;}
#inner_mainbody .method_area .method_bgbig span{margin:2px 0px 0px 5px}
#inner_mainbody .method_area .method_bgbig p{margin:0px 0px 20px 5px;}


#inner_mainbody fieldset{border:none;}
#inner_mainbody fieldset input.button{height:22px;}
#inner_mainbody fieldset p#com-form-login-remember input.inputbox{width:20px; margin:0px; height:13px;}
h1.logo_img{border:none;}

div#leftcol ul.groupbox-left{margin:0px; padding:0px; width:100%; background:#F0F0F0;}
div#leftcol ul.groupbox-left li{border:none; line-height:20px;}
div#leftcol ul.groupbox-left li ul{margin:0px; padding:0px; border:none;}
div#leftcol ul.groupbox-left li.head{  background: none repeat scroll 0 0 #0154A1; color: #FFFFFF;font-size: 16px;padding-left: 10px;}

div#leftcol ul.groupbox-left li ul li span.grpleft{float:left;display:inline-block ;width:95px}
div#leftcol ul.groupbox-left li ul li span.grpright{float:right; display:inline-block ; width:0px}

div#leftcol ul.groupbox-right{margin:0px; padding:0px 0px 0px 0px; width:100%; background: none repeat scroll 0 0 #F0F0F0;}
div#leftcol ul.groupbox-right li{ border: medium none; clear: both; display: inline-block;width: 95%; padding-left:4px;}
div#leftcol ul.groupbox-right li ul{margin:0px; padding:0px; border:none; width:100%;}
div#leftcol ul.groupbox-right li.head{background: none repeat scroll 0 0 #0154A1; color: #FFFFFF;font-size: 16px;padding-left: 10px;}

div#leftcol ul.groupbox-right li ul li span.grpleft{float:left;display:inline-block ;width:95px}
div#leftcol ul.groupbox-right li ul li span.grpright{float:right; display:inline-block ; width:0px}

div#leftcol ul.groupbox-right li ul li span.grpleft_new{float:left;}
div#leftcol ul.groupbox-right li ul li span.grpright_new{float:right; display:inline-block;}


div.poptitle {
margin: 0px;
padding: 0px;
font-size: 150%;
color: #0154A1;
font-weight: bold;
}

select {
background: white;
}


.bodyarea_main{margin:0px; padding:0px;}
.bodynew{margin:0px; padding:0px;}
/*
----------------------------css edited on 29-12-2012 ------*/

.mod_mica .activecontent  .pagination strong span{
	color:#D94958;
	}
.pagination a, .pagination span{
	padding:5px;
	}
.pagination{
	text-align:center;
	display:block;
	margin-top:20px;
	}
.jspPane table{

	width:100%;
	}


#left_logo{position:absolute; margin-left:15px; font-family:OpenSans,Calibri,Arial,Helvetica,sans-serif; font-weight:bold;color:#0094D9; }
.acc_link{float:right; height:25px; line-height:24px; clear:both; margin-right:57px; width:121px /* width: 128px; */}
.acc_link p{margin:0px; padding:0px;}
.acc_link a { color:#E63945;font-size: 11px;}

div.urban_agglo{overflow:scroll; width:100%; height:500px;}

table.urban_agglomeration {
    background: #C8C8C8;
    border-spacing: 1px;
    border-collapse: separate;
    color: #666666;

	border:1px solid #ffffff;


}
table.urban_agglomeration td, table.urban_agglomeration th {
    padding: 5px;
}
table.urban_agglomeration td {
    padding-left: 8px;
}
table.urban_agglomeration thead th {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #FFFFFF;
    color: #666666;
    text-align: center;
}
table.urban_agglomeration thead th.left {
    text-align: left;
}
table.urban_agglomeration thead a:hover {
    text-decoration: none;
}
table.urban_agglomeration thead th img {
    padding-left: 3px;
    vertical-align: middle;
}
table.urban_agglomeration tbody th {
    font-weight: bold;
	border:1px solid #fff;
}
table.urban_agglomeration tbody tr {
    background-color: #FFFFFF;
    text-align: left;
}
table.urban_agglomeration tbody tr.row0:hover td, table.urban_agglomeration tbody tr.row1:hover td {
    background-color: #E8F6FE;
}
table.urban_agglomeration tbody tr td {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
	vertical-align:top;
}

.data{padding:7px 5px}



table.mimi_table {
    background-color: #E7E7E7;
    border-spacing: 1px;
    color: #666666;
    width: 100%;
    border-collapse: separate;
}
table.mimi_table td, table.mimi_table th {
    padding: 8px;
}
table.mimi_table  th {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #999999;
    /* border-left: 1px solid #FFFFFF; */
    color: #fff;
    text-align: center;
}
table.mimi_table  a:hover {
    text-decoration: none;
}
table.mimi_table  th img {
    vertical-align: middle;
}
table.mimi_table  th {
    font-weight: bold;
}
table.mimi_table  tr {
    background-color: #FFFFFF;
    text-align: left;
}
table.mimi_table  tr.row1 {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #FFFFFF;
}
table.mimi_table  tr.row0:hover td, table.mimi_table  tr.row1:hover td {
    background-color: #FFFFDD;
}
table.mimi_table  tr td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 25px;
}
table.mimi_table  tr.row1 td {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #FFFFFF;
}
table.mimi_table  tr {
    color: #333333;
    text-align: center;
}
table.mimi_table  td, table.mimi_table  th {
    background-color: #333;
    border-top: 1px solid #999999;
    text-align: left;
}
table.mimi_table  th{
	font-family:'OpenSansSemibold';
	font-weight:normal;
}
table.mimi_table td.order {
    text-align: center;
    white-space: nowrap;
}
table.mimi_table td.order span {
    display: block;
    float: left;
    text-align: center;
    width: 20px;
}
table.mimi_table .pagination {
    display: table;
    margin: 0 auto;
    padding: 0;
}
.pagination div.limit {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}


.contentheading_contact {
	height: 24px;
	line-height:24px;

	color: #e63945;
	font-weight: bold;
	font-size: 18px;
	width:400px;
	font-weight:normal;
	padding:5px 0px 5px 460px;
	margin:0px;
}



table.casestudy_urban {
    background-color: #ffffff;
    border-spacing: 1px;
    border-collapse: separate;
    color: #666666;
    width: 100%;
}
table.casestudy_urban td, table.casestudy_urban th {
    padding: 4px;
}
table.casestudy_urban  th {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #fff;
    text-align: center;
}
table.casestudy_urban  a:hover {
    text-decoration: none;
}
table.casestudy_urban  th img {
    vertical-align: middle;
}
table.casestudy_urban  th {
    font-weight: bold;
}
table.casestudy_urban  tr {
    background-color: #FFFFFF;
    text-align: left;
}
table.casestudy_urban  tr.row1 {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #FFFFFF;
}
table.casestudy_urban  tr.row0:hover td, table.casestudy_urban  tr.row1:hover td {
    background-color: #ffffff;
}
table.casestudy_urban  tr td {
    background:#c9eaf9;

    height: 25px;
}
table.casestudy_urban  tr.row1 td {
    background:#b5e2f9;

}
table.casestudy_urban  tr {
    color: #000000;
    text-align: center;
}
table.casestudy_urban  th,table.casestudy_urban  td {
    background-color: #00b5ef;
    text-align: center;
}

table.casestudy_urban  td.firsttd,table.casestudy_urban  th.firsttd {
    text-align: left !important;
}

table.casestudy_urban td.order {
    text-align: center;
    white-space: nowrap;
}
table.casestudy_urban td.order span {
    display: block;
    float: left;
    text-align: center;
    width: 20px;
}
table.casestudy_urban .pagination {
    display: table;
    margin: 0 auto;
    padding: 0;
}

table.casestudy_rural {
    background-color: #ffffff;
    border-spacing: 1px;
    border-collapse: separate;
    color: #666666;
    width: 100%;
}
table.casestudy_rural td, table.casestudy_rural th {
    padding: 4px;
}
table.casestudy_rural  th {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #000000;
    text-align: center;
}
table.casestudy_rural  a:hover {
    text-decoration: none;
}
table.casestudy_rural  th img {
    vertical-align: middle;
}
table.casestudy_rural  th {
    font-weight: bold;
}
table.casestudy_rural  tr {
    background-color: #FFFFFF;
    text-align: left;
}
table.casestudy_rural  tr.row1 {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #FFFFFF;
}
table.casestudy_rural  tr.row0:hover td, table.casestudy_rural  tr.row1:hover td {
    background-color: #ffffff;
}
table.casestudy_rural  tr td {
    background:#cce099;

    height: 25px;
}
table.casestudy_rural  tr.row1 td {
    background:#dbe57f;

}
table.casestudy_rural  tr {
    color: #000000;
    text-align: center;
}
table.casestudy_rural  th,table.casestudy_rural  td {
    background-color: #a3ce44;
    text-align: center;
}

table.casestudy_rural  td.firsttd,table.casestudy_rural  th.firsttd {
    text-align: left !important;
}

table.casestudy_rural td.order {
    text-align: center;
    white-space: nowrap;
}
table.casestudy_rural td.order span {
    display: block;
    float: left;
    text-align: center;
    width: 20px;
}
table.casestudy_rural .pagination {
    display: table;
    margin: 0 auto;
    padding: 0;
}

table.casestudy_media {
    background-color: #ffffff;
    border-spacing: 1px;
    border-collapse: separate;
    color: #666666;
    width: 100%;
}
table.casestudy_media td, table.casestudy_media th {
    padding: 4px;
}
table.casestudy_media  th {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #fff;
    text-align: center;
}
table.casestudy_media  a:hover {
    text-decoration: none;
}
table.casestudy_media  th img {
    vertical-align: middle;
}
table.casestudy_media  th {
    font-weight: bold;
}
table.casestudy_media  tr {
    background-color: #FFFFFF;
    text-align: left;
}
table.casestudy_media  tr.row1 {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #FFFFFF;
}
table.casestudy_media  tr.row0:hover td, table.casestudy_media  tr.row1:hover td {
    background-color: #ffffff;
}
table.casestudy_media  tr td {
    background:#fcf4f7;

    height: 25px;
}
table.casestudy_media  tr.row1 td {
    background:#f9e2ed;

}
table.casestudy_media  tr {
    color: #000000;
    text-align: center;
}
table.casestudy_media  th,table.casestudy_media  td {
    background-color: #af5b84;
    text-align: center;
}
table.casestudy_media  td.firsttd,table.casestudy_media  th.firsttd {
    text-align: left !important;
}

table.casestudy_media td.order {
    text-align: center;
    white-space: nowrap;
}
table.casestudy_media td.order span {
    display: block;
    float: left;
    text-align: center;
    width: 20px;
}
table.casestudy_media .pagination {
    display: table;
    margin: 0 auto;
    padding: 0;
}

.module.keyclients{

		width:100%;
	margin:20px 0px 0px 0px;
	padding:0px;
	clear:both;}
.keyclients{

	width:100%;
	margin:0px;
	padding:0px;
	clear:both;
	margin-top:0px;
	float:left;}


.keyclients .imgdiv {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px 1px #C1C1C1;
    float: left;
    height: 97px;
    margin: 0 5px 5px 5px;
    padding: 5px;
    width: 97px;
}

.keyclients .imgdiv img {
    height: auto;
    width: 100%;
}
#mainbody .module h3{
	  color: #E63945;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    text-transform:capitalize;

    width: 100%;
	}

img.olTileImage{max-width:none;}
.blockcontent li a.addcustomvariable{width: auto;}

body {font-size: 12px;line-height: 120%;}
li{line-height: 120%;}
#login-form{margin-top:0px;}
input#modlgn-username,
input#modlgn-passwd{background: rgba(0, 0, 0, 0) url("../images/input-box.png") no-repeat scroll 0 0; border: medium none; font-size: 12px; height: 23px; padding: 0 9px 0 6px; width: 158px; box-shadow: none; position: relative; top:-1px;}
#login-form .control-group{margin:0px; font-size:13px; float:left; line-height:27px;}
#login-form .control-group label{margin-bottom:0px;}
#rightcol_login ul{width:100%;}
#rightcol_login ul li{width:50%; box-sizing:border-box; color:#787878; line-height:27px;}
#rightcol_login ul li:first-child{padding-left:55px; font-size:13px;}
#rightcol_login ul li.fpass{margin-top: 0; padding-right: 42px; position: relative; top: -1px; text-align:right}
.button_login{position: relative; top:-2px;}

#footer_right .nav > li{display:inline-block;}
#footer_right .nav > li > a,
#footer_right .nav > li > a:hover,
#footer_right .nav > li > a:focus{color: #585859; font-size: 10px; font-weight: normal; padding-left: 10px; background: none;}

body.site{overflow-x:hidden; }
#mainmenu .bm-cool-menu a{padding:0px; white-space:normal; min-width:inherit;}
#mainmenu .bm-cool-menu li{background: transparent url("../images/seperator1.png") no-repeat right 0; height: 14px; padding: 0 10px; line-height:14px; border-right:none}
#mainmenu ul ul{margin:0px; width: 900px; top:2em;}
#mainmenu .bm-cool-menu ul{background: none !important; border:none !important; }
#mainmenu .bm-cool-menu ul li{border-left: 1px solid #bb4b4d; color: #6a6a6a; float: left; width: 105px; background:none;}
#mainmenu .bm-cool-menu ul li:hover,
#mainmenu .bm-cool-menu ul li a:hover{background:none;}
#mainmenu .bm-cool-menu ul li:first-child{border:0px; }

#mainmenu .bm-cool-menu ul li a{text-transform:none;}
#mainmenu .bm-cool-menu ul li:first-child > a::after{display: none;}
#mainmenu .bm-cool-menu li:first-child ul li,
#mainmenu .bm-cool-menu li.item-221 ul li{height: 28px;}

#mainmenu .bm-cool-menu li.item-206 a{color: #e63945 !important;}

#menus_area .bm-cool-menu{margin:0px;}
#menus_area .bm-cool-menu a{padding:0px; white-space:normal; min-width:inherit; color: #6a6a6a; font-size: 14px; font-weight: normal;}
#menus_area .bm-cool-menu li,
#menus_area .bm-cool-menu li.active{background: transparent url("../images/seperator1.png") no-repeat right 0 !important; height: 14px; padding: 0 10px; line-height:14px; border-right:none}
#menus_area ul ul{margin:0px; width: 900px; top:2em;}
#menus_area .bm-cool-menu ul{background: none !important; border:none !important; }
#menus_area .bm-cool-menu ul li,
#menus_area .bm-cool-menu ul li.active{border-left: 1px solid #bb4b4d; color: #6a6a6a; float: left; width: 105px; background:none !important; border-bottom:0px;}
#menus_area .bm-cool-menu ul li:hover,
#menus_area .bm-cool-menu ul li a:hover{background:none;}
#menus_area .bm-cool-menu ul li:first-child{border:0px; }
#menus_area .bm-cool-menu ul li a{text-transform:none;}
#menus_area .bm-cool-menu ul li:first-child > a::after{display: none;}
#menus_area .bm-cool-menu li:first-child ul li,
#menus_area .bm-cool-menu li.item-221 ul li{height: 28px;}

#menus_area .bm-cool-menu li.item-206 a{color: #e63945 !important;}
#menus_area .bm-cool-menu li.item-206 .nav-child a:hover,
#menus_area .bm-cool-menu li.item-206 .nav-child li.active a{color: #0094d9 !important;}

#menus_area .bm-cool-menu li.active > a{background: #ffffff; color: #0094d9; height: 19px; margin-right: 1px; text-shadow: 0 2px 1px #9e9e9e;}
#menus_area .bm-cool-menu li.active ul li > a{text-shadow:none;}

#bredcum ul{margin:0; line-height:12px;}
.breadcrumb > li{display: inline;}
.breadcrumb > li > .divider{padding:0px;}
.breadcrumb > li.active:first-child{display: none;}

.item-page {padding: 0 0 0 3px; font-size:14px;}
#leftcol ul li a{display: inline;}
.page-header{padding:0px; margin:0px; border:0px; }
.page-header h2{color:#e63945; font-size: 18px; font-weight: normal; height: 24px; line-height: 24px; margin: 0; padding: 7px 0 10px 5px; width: 100%;}
.item-page p{color: #6a6a6a; margin:0 0 10px 4px; font-size:14px;}
#inner_mainbody .list_profile ul,
#inner_mainbody .list_data_sources ul{list-style:none; margin: 0; padding-left: 4px;}

#bodyleftonly .bodynew{clear: both; padding-top:17px;}
h1, h2, h3, h4, h5, h6 {color: inherit; font-family: inherit; font-weight: bold; line-height: 18px; margin: 9px 0; text-rendering: optimizelegibility;}

/* #bodyleftonly h3{font-size:14px; line-height:14px;} */

#inner_mainbody .contentpaneopen ul.nav-tabs{padding-left:10px;}
.rl_tabs.top > ul.nav-tabs > li > a,
.rl_tabs.top > ul.nav-tabs > li > a:hover{background:#be1f24; color: #fff; float: left; margin-right:2px; margin-top: 2px; padding:10px 20px; border-radius:0px; font-size:14px; font-weight:normal; line-height:14px; border:none; box-shadow:none;}
.rl_tabs.top > ul.nav-tabs > li.active > a{background: #ffffff; color:#000000; margin-right: 2px; margin-top:0px;  box-shadow:none; padding:10px 20px;}

.rl_tabs.outline_content > .tab-content{background:#fff; padding:10px}

.registration{width:780px;}
.contentpane {margin-left:8px;}
.reg_box{border: 1px solid #e0e0e0; height: 280px; margin: 0 0 30px; padding: 10px;}
.reg_box.height_small{height:185px; margin:0px}
.reg_box legend {font-size: 14px; line-height: 30px; height:30px; font-weight: bold; border:0px; line-height:20px; padding:0px; margin:0px; }
.reg_box label{margin:0px; font-size:12px;}
.form-horizontal .reg_box .control-group{margin:0px; height:40px;}
.form-horizontal .reg_box .control-group.textarea{height:auto;}
.form-horizontal .reg_box .control-label{width:123px; text-align:left; height: 40px; line-height:40px; padding:0px;}
.form-horizontal .reg_box .controls{margin-left:123px;}
.reg_box .s_bg_select{background: url("../images/input-box.png") no-repeat left center; border: medium none; font-size: 12px; height: 23px; padding: 4px 9px 0 3px; width: 158px; display: inline-block; margin:8px 5px 0 0;}
.reg_box .s_bg_input{margin: 8px 5px 0 0;}
.reg_box .s_bg_select select{font-weight: normal;}
.reg_box .s_bg_input input{background:url("../images/input-box.png") no-repeat; border: medium none; font-size: 12px; height: 23px; padding: 0 9px 0 6px; width: 158px; box-shadow:none; float: left;}
.mandatory{display: inline-block; margin-top:6px; vertical-align: middle;}
.reg_box .field-calendar{display: inline-block;}
.reg_box .input-append input{border:0px;box-shadow:none; padding:0 5px 0 10px; height:24px; }
.reg_box .input-append button.btn{background:none; border:0; box-shadow: none; padding-left: 5px; padding-right: 0;}
.textarea_bg textarea{height:40px; box-shadow:none; padding:7px 3px;}
.textarea_bg_big textarea{width:260px !important; box-shadow:none; padding-top:10px;}
.reg_box .icon-calendar{background:#efefef url("../images/calendar.png") no-repeat; width: 16px; height:16px; border: 1px solid #cccccc; color: #000; cursor: default;}
.reg_box .icon-calendar:before{display: none; }
.item-page [id*="mapbody"]{float: left;}
.body-overlayed #sbox-window{box-shadow:none; background-color:#000; border-radius:0px;}
.body-overlayed #sbox-window.shadow{box-shadow:none;}

html body.special_closebutton div#sbox-window a#sbox-btn-close {background:url("../images/icon-close.png") no-repeat left top;}

.logout-box{float: right;}
.logout-box .left-box{float:left;}
.logout-box .right-box{float:left;}
.logout-box .left-box .login-greeting{line-height:24px;}
.logout-box .right-box .logout-button{text-align: center; }
.logout-box .right-box .logout-button input{margin:1px 0 0;}
#rightcol_login .logout-box ul{margin:0px;}
#rightcol_login .logout-box ul li{padding:0px; width: auto; line-height:39px;}
#rightcol_login .logout-box ul li a{font-weight:bold; font-size:12px;}

input.newbutton{width:245px;}
.speedometer table{border-spacing:4px;}
.speedometer table tr td input{margin:0px;}
#micaform .frontbutton input{width:93px !important;}
.frontitle h1{line-height:14px; margin-bottom:11px;}
#micaform .righttop .right h3{line-height:30px;}
.righttop .maintable{line-height:9px !important;}

.alert{padding:5px 35px 5px 14px;}
.alert h4{line-height:10px;}
.alert .alert-message{font-size:12px;}

#micaform .maintable .left h3{line-height:14px;}
.leftbottop .maintable,
.leftbottom .maintable{max-height:38px;}

.ui-corner-all > input,
.ui-corner-all.ui-state-hover > input {margin: 0 3px;}

.chzn-container-multi .chzn-choices{margin:0px;}
.chzn-container-single .chzn-search input{box-shadow: none; border:1px solid #aaa; border-radius:0px;}
#no_of_interval{width:158px !important}

.pagination-list {list-style:none; margin: 20px 0 0; padding: 0; text-align: center;}
.pagination-list li {display: inline-block;}
.pagination-list li a{padding:5px;}
.pagination-list li.active a {color: #d94958;}

.blockcontent.newworkspace input.inputbox {padding: 0 32px 0 6px; width: 85px;}
body .item-page .icons{display: none;}
.mainmenu li.item-388{float: left; clear: both; margin-top: 10px; border-left: none !important;}
.reg_box.captch {height: 100px;margin-top: 30px;}
