/*
# ------------------------------------------------------------------------
# Extensions for Joomla 2.5 - Joomla 3.x
# ------------------------------------------------------------------------
# Copyright (C) 2011-2013 Ext-Joom.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2.
# Author: Ext-Joom.com
# Websites:  http://www.ext-joom.com 
# Date modified: 27/08/2013 - 13:00
# ------------------------------------------------------------------------
*/


/*** adding the class ext-navbar in addition to ext-menu creates an all-horizontal nav-bar menu ***/
.ext-navbar {
	background: #BDD2FF;
	position: relative;
	margin-bottom: 5em;
}
/* provide background colour for submenu strip */
/* you should just set the menu's container bg colour rather than use pseudo-elements */
.ext-navbar:before {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	background-color: #BDD2FF;
	height: 200%;
	width: 100%;
}
.ext-navbar ul {
	box-shadow: none;
}
.ext-navbar li {
	background: #AABDE6;
	position: static;
}
.ext-navbar > li > a,
.ext-navbar > li > ul > li > a {
	border: none;
}
.ext-navbar > li > ul {
	min-width: 36em; /* set this to whatever suits your design */
}
.ext-navbar ul li {
	background: #BDD2FF;
	position: relative;
}
.ext-navbar ul ul {
	left: 0;
	top: 100%;
}
.ext-navbar ul ul li {
	width: 100%;
}
.ext-navbar > li > ul > li {
	float: left;
}
.ext-navbar li.current {
	background: #BDD2FF;
}
.ext-navbar li:hover,
.ext-navbar li.sfHover,
.ext-navbar ul li.current {
	background: #BDD2FF;
}
.ext-navbar ul li:hover,
.ext-navbar ul li.sfHover,
.ext-navbar ul ul li {
	background: #D1DFFF;
}
.ext-navbar ul ul li:hover,
.ext-navbar ul ul li.sfHover,
.ext-navbar ul ul li.current {
	background: #E6EEFF;
}
.ext-navbar ul li.current > a {
	font-weight: bold;
}

/*** point all arrows down ***/
.ext-arrows.ext-navbar ul .ext-with-ul:after {
	margin-top: -3px;
	margin-right: 0;
	border-color: transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}

.ext-arrows.ext-navbar ul > li > .ext-with-ul:focus:after,
.ext-arrows.ext-navbar ul > li:hover > .ext-with-ul:after,
.ext-arrows.ext-navbar ul > .sfHover > .ext-with-ul:after {
	border-color: transparent;
	border-top-color: white;
}
