/*#rightcol_login ul li.signup{padding-right:8px !important;}*/

#inner_mainbody .method_area .methodbg3 {width:100% !important;}


.logo_content {padding-right:29px !important; padding-left: 39px !important; width:205px;}
.logo_content1 { margin-left:-32px; padding-left:5px}

#footer_right {width:28%;}

.inputbox {line-height:24px;}

div.leftgrpimg{position:relative !important;}
.vwsapretor{background:url(../images/four_v_line.png) repeat-y 0px 0px !important; }
select option{background:none;}

.vwsapretor
{
background:url(../images/four_v_line.png) repeat-y scroll 0px 0px !important; height:100%;
/*margin:10px 0;*/
}

div.showresultbody div.collpsable span.modify {margin-top:-30px;}