body {
  background-color:#ededed;
  margin:0;
  color:#333;
  font-family:Arial,Helvetica;
  font-size:12px;
}

/*Edited : Ashesh Added for mdp contact us show hide div */
.slidingDiv {
	display:block;
}

.show_hide {
	display:none;
}
/* Edited : End */

a {
  color: #800000;
}

.wr,.width-restriction {
 width:960px;
 position: relative;
}



#header {
  background-repeat:repeat-x;
  background-position: top center;
  background-image:url(/themes/micalanding/images/banner-bg.jpg);
  height:73px;
}

#footer {
  font-size:0.9em;
  padding-top: 7px;
  border-top: solid 1px #DDD;
  margin-top:30px;
}

#footer .copyright {
  float:left;
}

#footer .links {
  float:right;
  font-size:12px;
  font-weight:bold;
}

#footer .links a {
  color:#333;
  text-decoration: none;
}

.wr {
 width:960px;
 position: relative;
}

#logo {
  position: absolute;
  left:0;
}

#headerlinks {
  position: absolute;
  right: 0;
  top:19px;
}

#menu {
  background-image:url(/themes/micalanding/images/menu-bg.jpg);
  background-repeat: repeat-x;
  background-position: top left;
  height: 32px;
  margin-bottom: 1px;
}

#menu a {
  color:#FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size:11px;
  height:22px;
  border-right: solid 1px #876768;
  display:block;
  float:left;
  padding: 10px 15px 0 15px;
}

#menu a.first {
  border-left: solid 1px #876768;
}

#menu a.selected {
  background-color:#983f3f;
  background-image:url(/themes/micalanding/images/menu-bg-on.jpg);
}




.page {
  padding: 40px 0 40px 0;
  width:950px;
}




.column-left,.column-right {
  width:280px;
  float:left;
}

.column-middle {
  width:670px;
  float:left;
  text-align:justify;
}

.clear {
  clear: both;
  height:0;
  padding:0;
  margin:0;
}



/* submenu */

ul.submenu {
  padding:0;
  margin:0;
  list-style:none;
}

ul.submenu li {
  margin:0;
  padding:0;
  background-image:url(images/leaf-green.gif);
  background-repeat:no-repeat;
  background-position: 10px 10px;
}

ul.submenu li a {
  font-weight:bold;
  color:#333;
  text-decoration:none;
  text-transform:uppercase;
  font-size:0.9em;
  background-image:url(images/dotted.gif);
  background-repeat:repeat-x;
  background-position: bottom left;
  display:block;
  padding: 15px 0 15px 35px;
}

ul.submenu li a:first-of-type {
  background-image:url(images/dotted.gif);
  background-repeat:repeat-x;
  background-position: top left;
}

ul.submenu li a:hover,ul.submenu li.selected a {
  color:#800000;
}

ul.submenu li.selected {
  background-image:url(images/leaf-red.gif);
}

.dropdown {
  position:absolute;
  background-color:#F1F1F1;
  border:solid 1px #800000;
  border-top:0;
  top:119px;
  z-index:1000;
  display:none;
}

.dropdown a {
  padding:8px 0 8px 10px;
  color:#222;
  font-weight:bold;
  font-size:0.9em;
  text-decoration:none;
  display:block;
  text-align:left;
}

.dropdown a:hover {
  color:#800000;
  background-color:#DDD;
}


.dropdown.introducing-mica {
  left:0;
  width:158px;
}

h2 {
  color:#333;
  font-size:1.2em;
  font-weight:bold;
  margin:0 0 1.5em 0;
}

.column-middle {
  line-height:1.5em;
}

.dottedtop {
  background-image:url(images/dotted.gif);
  background-position:top left;
  background-repeat:repeat-x;
}

.dottedbottom {
  background-image:url(images/dotted.gif);
  background-position:bottom left;
  background-repeat:repeat-x;
}

.rightbox {
  padding: 12px 0 12px 0;
}

.column-right h3 {
  margin:0;
  font-size:1em;
  font-weight:bold;
  color:#800000;
}

h3 {
  color:#800000;
  font-size:1em;
  font-weight:bold;
  margin:0;
}

h3 * {
  color:#800000;
}

div.search .searchbox {
  border:solid 1px #DDD;
  padding:5px;
  width:265px;
}

.column-right .newsitem {
  margin-top:15px;
}

.column-right .newsitem .date {
  font-size:0.9em;
  font-weight:bold;
  margin-bottom:5px;
}

.column-right .newsitem .readmore {
  font-size:0.9em;
  margin-top:3px;
}

.column-right .newsitem .readmore a {
  color:#800000;
}


.breadcrumb {
  color:#800000;
  font-weight:bold;
  margin-bottom:1.2em;
  position:relative;
  font-size:1em;
  bottom:5px;
}

.breadcrumb a {
  color:#800000;
  text-decoration:none;
}

.column-middle p {
  margin:0 0 0.8em 0;
}


.olionote {
  position:relative;
  background-image:url(images/olionote.gif);
  background-position: top left;
  background-repeat:no-repeat;
  font-size:10px;
  color:#d60d00;
  border:solid 1px #d60d00;
  padding-left:46px;
  padding-top:3px;
  padding-bottom:3px;
  font-weight:bold;
}


.multilevel-menu {
  border-bottom: solid 1px #800000;

  padding: 7px 0 7px 0;
  background-color:#983f3f;
}

.multilevel-menu a {
  color:#ffbaba;
  font-size:0.9em;
  text-decoration: none;
  margin-right:0;
  padding: 7px 7px 7px 7px;
  
}

.multilevel-menu a:hover,.multilevel-menu a.selected {
  color:#fff;
}

.multilevel-menu a.selected {
  color:#FFF;
  background-color:#7c3333;
  background-image:url(/themes/mica/images/multilevel-background.gif);
  background-repeat: repeat-x;
  background-position: top left;
}

.anchorlinks {
  border:solid 1px #999;
  background-color:#F1F1F1;
  height:25px;
  margin-bottom:1.5em;
}

.anchorlinks a {
  color:#800000;
  text-decoration:none;
  padding-top:4px;
  padding-right:10px;
  padding-left:10px;
  height:21px;
  border-right:solid 1px #999;
  font-size:0.9em;
  float:left;
}


.linksbox {
  background-color:#F1F1F1;
  padding:10px;
  border:solid 1px #DDD;
}

.linksbox a {
  color:#800000;
  font-size:0.9em;
  text-decoration:none;
}

.linksbox a:hover {
  text-decoration: underline;
}

.toplink {
  color:#800000;
  font-size:0.9em;
  text-decoration:none;
}

.imagegallery {
  position:relative;
  height:100%;
}

.imagegallery .caption{ 
  position:absolute;
  bottom:10px;
  z-index:10000;
  background-color:#800000;
  color:#FFF;
  padding: 4px 8px 4px 8px;
  font-size:0.9em;
}


hr {
  color: #DDD;
  background-color: #DDD;
  height: 1px;
  margin-top:2em;
  border: none;
}



.listtable {
  border-collapse: collapse;
  border:solid 1px #DDD;
  border-bottom:0;
}

.listtable td,.listtable th {
  padding:5px;
  border-bottom:solid 1px #DDD;
}

.listtable th {
  background-color:#DDD;
  border-bottom:solid 1px #AAA;
  color:#333;
  text-align:left;
  font-weight:bold;
}

.columnlist_3 {
  border-collapse: collapse;
}

.columnlist_3 td {
  vertical-align: top;
  width:33%;
  padding: 4px;
}

#searchresults {
  position: absolute;
  z-index: 10000;
  background-color:#F1F1F1;
  border:solid 1px #DDD;
  padding: 10px;
  width: 255px;
  display: none;
}

.ajaxresults td {
  font-size:0.9em;
}

.ajaxresult {
  margin-bottom:3px;
  padding-bottom:3px;
}

.ajaxresults .moreresults {
  background-color:#DDD;
  padding: 5px;
}

.ajaxresults .moreresults:hover {
  background-color:#CCC;
}




/* FORMS */

table.inputtable td {
  padding: 3px 0 3px 0;
}

input.textinput {
  border:solid 1px #CCC; 
  padding:4px;
  width:300px;
}


